<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorStatus</key>
	<string>objectTint</string>
	<key>grainstatus</key>
	<string>layoutValidation</string>
	<key>substantialeffect</key>
	<string>interactiveInteraction</string>
	<key>taxonomyOrigin</key>
	<string>buffertime</string>
	<key>upgradefeature</key>
	<string>scrollableDependency</string>
</dict>
</plist>
