<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gesturedetectorscoperate</key>
	<string>shouldDetachMaster</string>
	<key>shouldConnectMaterial</key>
	<string>unsortedrectangle</string>
	<key>shouldContinueVariant</key>
	<string>shouldRouteRow</string>
	<key>singleUseCase</key>
	<string>descriptorcontextorigin</string>
</dict>
</plist>
