<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalsine</key>
	<string>equalRepository</string>
	<key>herobrightness</key>
	<string>gateLevel</string>
	<key>independentDocument</key>
	<string>shouldPersistUnary</string>
	<key>mediaMomentum</key>
	<string>canSaveCoordinator</string>
	<key>navigationLocation</key>
	<string>mountedBox</string>
	<key>protectedactivitytail</key>
	<string>canUpdateFragment</string>
	<key>schedulerSkewY</key>
	<string>criticalHero</string>
	<key>shouldAttachPriority</key>
	<string>trianglesTint</string>
	<key>viewactivityshape</key>
	<string>gridVisibility</string>
</dict>
</plist>
