<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationbandwidth</key>
	<string>cupertinoLevel</string>
	<key>erasechannels</key>
	<string>finishbloc</string>
	<key>firstVector</key>
	<string>rapidVector</string>
	<key>observerparametertail</key>
	<string>imperativeConsumption</string>
	<key>otherEmitter</key>
	<string>configurationBuffer</string>
	<key>parseanimation</key>
	<string>reflectScene</string>
	<key>visibledecorationposition</key>
	<string>factoryCommand</string>
	<key>yieldresolver</key>
	<string>cursorCommand</string>
	<key>zoneevent</key>
	<string>smallReceiver</string>
</dict>
</plist>
