<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintPadding</key>
	<string>oldAlignment</string>
	<key>immediateModule</key>
	<string>shouldSaveTask</string>
	<key>invisibleCharacteristic</key>
	<string>textpadding</string>
	<key>mediaHead</key>
	<string>allocatorColor</string>
</dict>
</plist>
