<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalNotifier</key>
	<string>interpolationMargin</string>
	<key>delicatepolyfill</key>
	<string>shouldPushCycle</string>
	<key>deliveryDepth</key>
	<string>mutableStack</string>
	<key>eventShape</key>
	<string>opaqueDelegate</string>
	<key>futurefrequency</key>
	<string>associatedPermutation</string>
	<key>retainedoffsetcount</key>
	<string>euclideanImpression</string>
	<key>shouldBuildTangent</key>
	<string>tasktransparency</string>
	<key>sortedCreator</key>
	<string>shouldNotifySign</string>
	<key>themerepository</key>
	<string>videoSize</string>
	<key>unactivatedWidget</key>
	<string>subtleEntity</string>
</dict>
</plist>
