<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeMetadata</key>
	<string>interpolationslider</string>
	<key>crudeProjection</key>
	<string>emitConstraint</string>
	<key>methodTension</key>
	<string>popDelegate</string>
	<key>scaffoldalignment</key>
	<string>substantialpaddingspacing</string>
	<key>shouldPauseScreen</key>
	<string>analyzerMargin</string>
	<key>shouldValidateMusic</key>
	<string>updateEntity</string>
	<key>swiftdelay</key>
	<string>deferredQuaternion</string>
</dict>
</plist>
