<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easySound</key>
	<string>notifyanimation</string>
	<key>fragmenttaskedge</key>
	<string>makeZone</string>
	<key>greatcollection</key>
	<string>implementDuration</string>
	<key>inactivecontainer</key>
	<string>granularStateless</string>
	<key>liteRenderer</key>
	<string>selectedMultiplication</string>
	<key>primarytaskdepth</key>
	<string>accordionRouter</string>
	<key>shouldPopInkWell</key>
	<string>captionResponse</string>
	<key>shouldValidateButton</key>
	<string>mountInstruction</string>
	<key>sinklistener</key>
	<string>menuandlevel</string>
</dict>
</plist>
