<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationkind</key>
	<string>setupPresenter</string>
	<key>graphdelay</key>
	<string>errorOrigin</string>
	<key>inactiveExtension</key>
	<string>occasionmomentum</string>
	<key>invisibleLoop</key>
	<string>observeRow</string>
	<key>iterativeSpot</key>
	<string>concreteCosine</string>
	<key>paintinstruction</key>
	<string>shouldpaintnavigator</string>
	<key>shouldObserveScreen</key>
	<string>firstBandwidth</string>
	<key>strengthtint</key>
	<string>visibleNotation</string>
	<key>utilinproxy</key>
	<string>shouldStopDocument</string>
</dict>
</plist>
