<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationSize</key>
	<string>easymobile</string>
	<key>channelviastate</key>
	<string>stopSkirt</string>
	<key>concreteChannel</key>
	<string>declarativeTouch</string>
	<key>diffableSlash</key>
	<string>pickerMomentum</string>
	<key>hasArithmetic</key>
	<string>timestyle</string>
	<key>inactiveCache</key>
	<string>timelineTint</string>
	<key>screenopacity</key>
	<string>augmentResource</string>
	<key>substantialHistogram</key>
	<string>associatedchannel</string>
</dict>
</plist>
