<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addbloc</key>
	<string>compositionalSpecifier</string>
	<key>easyRange</key>
	<string>deliveryTint</string>
	<key>entropyVisible</key>
	<string>pushMaster</string>
	<key>pinchableScaffold</key>
	<string>standaloneSearcher</string>
	<key>resourceplatformstatus</key>
	<string>slashSkewY</string>
</dict>
</plist>
