<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyProgressBar</key>
	<string>touchtweak</string>
	<key>numericalinfrastructure</key>
	<string>associatedImpact</string>
	<key>resilientPositioned</key>
	<string>menuOrigin</string>
	<key>usecaseatproxy</key>
	<string>gramVariable</string>
</dict>
</plist>
