<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontaineroperationhue</key>
	<string>persistentSound</string>
	<key>channelMargin</key>
	<string>seamlessresourceshade</string>
	<key>cursorchooser</key>
	<string>storelayer</string>
	<key>functionalResource</key>
	<string>shouldFetchLogarithm</string>
	<key>fusedSample</key>
	<string>showAperture</string>
	<key>observerResponse</key>
	<string>combineError</string>
	<key>segueDirection</key>
	<string>subtleDuration</string>
	<key>slashchannel</key>
	<string>singletonPlatform</string>
	<key>staticButton</key>
	<string>canCancelGrayscale</string>
</dict>
</plist>
