<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitConvolution</key>
	<string>requiredobserver</string>
	<key>hashandproxy</key>
	<string>reconcileFuture</string>
	<key>materialscaffoldrotation</key>
	<string>coordinatorvaluename</string>
	<key>positionedrect</key>
	<string>disconnectHistogram</string>
	<key>quaternionState</key>
	<string>accessibleLabel</string>
</dict>
</plist>
