<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableAwait</key>
	<string>unlockRow</string>
	<key>difficultAsset</key>
	<string>shouldSkipCapsule</string>
	<key>ephemeralAnalyzer</key>
	<string>rowResponse</string>
	<key>gridviewselector</key>
	<string>numericalPolyfill</string>
	<key>mobileVariant</key>
	<string>completedFuture</string>
	<key>tweenstageedge</key>
	<string>canMountGram</string>
</dict>
</plist>
