<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonQuaternion</key>
	<string>flexibleThreshold</string>
	<key>interactiveGradient</key>
	<string>relationalFormat</string>
	<key>screenpopup</key>
	<string>shouldUnbindTechnique</string>
	<key>uniformstorageshade</key>
	<string>canEndGem</string>
</dict>
</plist>
