<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyMenu</key>
	<string>richtextshapefeedback</string>
	<key>enabledGradient</key>
	<string>reconcileLocalization</string>
	<key>gridviewproxyspeed</key>
	<string>shouldConnectSignature</string>
	<key>localMaterializer</key>
	<string>zoneValidation</string>
	<key>memberTheme</key>
	<string>giftVisibility</string>
	<key>provisionCenter</key>
	<string>canProcessCursor</string>
	<key>routerFrequency</key>
	<string>tappableSwift</string>
	<key>shouldRebuildView</key>
	<string>behaviorColor</string>
	<key>shouldYieldIndicator</key>
	<string>processBinary</string>
	<key>sizeindex</key>
	<string>basicCreator</string>
</dict>
</plist>
