<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicSorter</key>
	<string>timerState</string>
	<key>occasionInteraction</key>
	<string>wrapDependency</string>
	<key>shouldrestartmodulus</key>
	<string>rectangleMomentum</string>
	<key>temporaryMend</key>
	<string>mitigateManager</string>
</dict>
</plist>
