<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedLinker</key>
	<string>animatedcontainerProxy</string>
	<key>backwardMonster</key>
	<string>layoutSlash</string>
	<key>consumerinteraction</key>
	<string>storevelocity</string>
	<key>unsortedStep</key>
	<string>geometricParticle</string>
</dict>
</plist>
