<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>giftMode</key>
	<string>comprehensiveGradient</string>
	<key>permutationDensity</key>
	<string>shouldNotifySession</string>
	<key>publicdecorationpressure</key>
	<string>requestVar</string>
	<key>resizableMember</key>
	<string>navigateNotification</string>
	<key>stampcount</key>
	<string>timelineShade</string>
</dict>
</plist>
