<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateLocation</key>
	<string>processexception</string>
	<key>globalScaffold</key>
	<string>gestureVar</string>
	<key>lazyStep</key>
	<string>routeaboutenvironment</string>
	<key>nibSpacing</key>
	<string>pivotalDropdownButton</string>
	<key>pinchablelatency</key>
	<string>switchnotation</string>
	<key>prevwidgetlocation</key>
	<string>mutableflex</string>
	<key>resourceFrequency</key>
	<string>semanticsForm</string>
</dict>
</plist>
