<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerTension</key>
	<string>searchInteractor</string>
	<key>concurrentCharacteristic</key>
	<string>curveRight</string>
	<key>fragmentsBehavior</key>
	<string>alphaContrast</string>
	<key>margininprototype</key>
	<string>navigateStateless</string>
	<key>readqueue</key>
	<string>accessibleSubscription</string>
	<key>reflectchannels</key>
	<string>presentertrigger</string>
	<key>responsiveSegue</key>
	<string>preparesymbol</string>
	<key>startmodel</key>
	<string>routeTag</string>
	<key>sustainableChecklist</key>
	<string>shouldStopGridView</string>
	<key>usecaseInteraction</key>
	<string>maxSpot</string>
</dict>
</plist>
