<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteBase</key>
	<string>smallStatus</string>
	<key>descriptionpager</key>
	<string>reconcilepainter</string>
	<key>displayableGram</key>
	<string>webNorm</string>
	<key>hyperbolicSlash</key>
	<string>canUnbindInteger</string>
	<key>metadataDelay</key>
	<string>shouldMountedTouch</string>
	<key>resilientReference</key>
	<string>canSubscribeDelegate</string>
	<key>resizableOptimizer</key>
	<string>showMovement</string>
	<key>utiltension</key>
	<string>deserializeModal</string>
	<key>volumeForce</key>
	<string>streamStrategy</string>
</dict>
</plist>
