<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengetint</key>
	<string>dependencyState</string>
	<key>concreteMember</key>
	<string>elasticMargin</string>
	<key>formatappbar</key>
	<string>pivotalBitrate</string>
	<key>globalsegue</key>
	<string>interpolateMethod</string>
	<key>inactiveCard</key>
	<string>requestlayertransparency</string>
	<key>newestCompleter</key>
	<string>canCacheMobile</string>
	<key>replicategift</key>
	<string>fragmentprocessor</string>
	<key>shouldFetchSymbol</key>
	<string>popRepository</string>
	<key>shouldMountedFragment</key>
	<string>smallDescriptor</string>
	<key>yieldtitle</key>
	<string>stackPressure</string>
</dict>
</plist>
