<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSpecifier</key>
	<string>shouldReplacePriority</string>
	<key>cardsincestructure</key>
	<string>storeFeedback</string>
	<key>methodstrength</key>
	<string>deserializeStep</string>
	<key>shouldDisposeSemantics</key>
	<string>distinctionContrast</string>
	<key>shouldListenAnimation</key>
	<string>listenReduction</string>
</dict>
</plist>
