<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emittween</key>
	<string>deserializeMap</string>
	<key>encodechart</key>
	<string>canSubscribeNavigation</string>
	<key>isoperation</key>
	<string>ignoredexceptionsize</string>
	<key>lostBitrate</key>
	<string>notifierState</string>
	<key>responsiveBullet</key>
	<string>cloneProvider</string>
</dict>
</plist>
