<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeVolume</key>
	<string>canUnmountOperation</string>
	<key>cachecontainer</key>
	<string>animatorValidation</string>
	<key>disparateSemantics</key>
	<string>substantialCharacter</string>
	<key>easyChannel</key>
	<string>shouldStreamRoute</string>
	<key>nativesliderdelay</key>
	<string>encodeSegment</string>
	<key>reactiveImpression</key>
	<string>pivotalSine</string>
	<key>robustcontrollermargin</key>
	<string>canTransformMap</string>
	<key>symmetricBinary</key>
	<string>rolemomentum</string>
	<key>synchronizeview</key>
	<string>shouldShowCoordinator</string>
	<key>tappablenode</key>
	<string>adaptiveNavigation</string>
</dict>
</plist>
