<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyBuilder</key>
	<string>mountBorder</string>
	<key>exponentScale</key>
	<string>particleResponse</string>
	<key>liteDisclaimer</key>
	<string>histogramproxytag</string>
	<key>multiAspect</key>
	<string>controllerSpacing</string>
	<key>presenterPadding</key>
	<string>methodOperation</string>
	<key>rowHead</key>
	<string>continueBloc</string>
	<key>seamlessSkin</key>
	<string>advancedZone</string>
	<key>shouldCreateInkWell</key>
	<string>prismaticQueue</string>
	<key>shouldEncodePainter</key>
	<string>transformerhue</string>
</dict>
</plist>
