<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedbinder</key>
	<string>uniqueReplica</string>
	<key>consultativePolygon</key>
	<string>pushThread</string>
	<key>deferredTicker</key>
	<string>documentfordecorator</string>
	<key>fixedSignature</key>
	<string>deserializeImage</string>
	<key>respectiveTraversal</key>
	<string>storePadding</string>
	<key>shouldAnimateDecoration</key>
	<string>richtextChain</string>
	<key>taskmediatormargin</key>
	<string>injectionedge</string>
	<key>utilvisitorformat</key>
	<string>reactivePopup</string>
</dict>
</plist>
