<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledLatency</key>
	<string>grouptaxonomy</string>
	<key>oldSwift</key>
	<string>normaltangentcount</string>
	<key>semanticAspectRatio</key>
	<string>segmentwidget</string>
	<key>typicalCreator</key>
	<string>optimizetransformer</string>
</dict>
</plist>
