<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationmenu</key>
	<string>scheduleframe</string>
	<key>defaultUnary</key>
	<string>shouldStreamClipper</string>
	<key>disclaimerName</key>
	<string>draggableShader</string>
	<key>enabledMedia</key>
	<string>selectedMember</string>
	<key>entitysaturation</key>
	<string>channelPosition</string>
	<key>granularIsolate</key>
	<string>certificateBrightness</string>
	<key>remainderContrast</key>
	<string>renderCell</string>
	<key>robustStroke</key>
	<string>canFormatSign</string>
	<key>shouldMountInstruction</key>
	<string>tappableMusic</string>
	<key>sineSaturation</key>
	<string>overlayChain</string>
</dict>
</plist>
