<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionscopeduration</key>
	<string>greatCanvas</string>
	<key>directalignment</key>
	<string>pageviewPrototype</string>
	<key>emitterMargin</key>
	<string>efficiencykind</string>
	<key>handlernumberskewy</key>
	<string>shouldattachinkwell</string>
	<key>rapidNib</key>
	<string>smallUtil</string>
	<key>signcyclemargin</key>
	<string>hardbrushvisible</string>
	<key>zonehue</key>
	<string>linkerIndex</string>
</dict>
</plist>
