<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerCertificate</key>
	<string>alertCycle</string>
	<key>crucialNib</key>
	<string>diffableContraction</string>
	<key>shouldContinueDocument</key>
	<string>customizedSizedBox</string>
	<key>statefulException</key>
	<string>searchQueue</string>
	<key>visualizestep</key>
	<string>lostExtension</string>
</dict>
</plist>
