<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveMetrics</key>
	<string>canStreamDocument</string>
	<key>asynchronousStateless</key>
	<string>trajectoryShape</string>
	<key>composablematerial</key>
	<string>rebuildStream</string>
	<key>euclideanContrast</key>
	<string>finishGridView</string>
	<key>hierarchicalLinker</key>
	<string>handleRichText</string>
	<key>ignoredfactoryalignment</key>
	<string>shouldSaveSlash</string>
	<key>scenarioflags</key>
	<string>sizedboxEnvironment</string>
	<key>shouldValidateTransition</key>
	<string>switchValue</string>
	<key>smallAction</key>
	<string>shouldPopMultiplication</string>
	<key>usedProtocol</key>
	<string>logwrapper</string>
</dict>
</plist>
