<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedtaskbehavior</key>
	<string>crucialSegment</string>
	<key>currentView</key>
	<string>controllerprocessspacing</string>
	<key>difficultSound</key>
	<string>deserializeProtocol</string>
	<key>expandedprovision</key>
	<string>typicalreducer</string>
	<key>priorEquivalent</key>
	<string>stepOpacity</string>
	<key>restrictionAlignment</key>
	<string>canSaveCosine</string>
	<key>statelessEquipment</key>
	<string>publishStep</string>
</dict>
</plist>
