<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createcertificate</key>
	<string>uniformAccessory</string>
	<key>cyclevariableinset</key>
	<string>materializeboxshadow</string>
	<key>disparatePager</key>
	<string>encodeCache</string>
	<key>integrationTension</key>
	<string>webUtil</string>
	<key>slashEdge</key>
	<string>rebuildEntropy</string>
	<key>throughputtag</key>
	<string>futurescope</string>
	<key>titlerect</key>
	<string>tappableConvolution</string>
</dict>
</plist>
