<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeSign</key>
	<string>subsequentResponder</string>
	<key>crudeMaterial</key>
	<string>opaqueInteraction</string>
	<key>entropytemplecoord</key>
	<string>difficultFuture</string>
	<key>graphpolyfill</key>
	<string>selectedbatch</string>
	<key>lazyPainter</key>
	<string>signRotation</string>
	<key>otherstatebound</key>
	<string>canTrainStack</string>
	<key>providepadding</key>
	<string>hardScalability</string>
	<key>shouldUnbindStateless</key>
	<string>listviewcallback</string>
	<key>strokeShape</key>
	<string>uniqueFlex</string>
</dict>
</plist>
