<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackvalidation</key>
	<string>protectedEvaluation</string>
	<key>dispatchloop</key>
	<string>selectorResponse</string>
	<key>mediaTop</key>
	<string>mendName</string>
	<key>primaryoptimizerorigin</key>
	<string>futurevaluerate</string>
	<key>unschedulebutton</key>
	<string>mediumPosition</string>
</dict>
</plist>
