<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileInfo</key>
	<string>reactiveWorkflow</string>
	<key>finishoperation</key>
	<string>cacheCharacter</string>
	<key>functionalResult</key>
	<string>notifyDrawer</string>
	<key>imperativeScreen</key>
	<string>intuitiveCatalyst</string>
	<key>nativeTaxonomy</key>
	<string>fixedAperture</string>
	<key>primarycurve</key>
	<string>timertail</string>
	<key>publicResource</key>
	<string>respondStream</string>
	<key>scalabilityFormat</key>
	<string>immutableSpecifier</string>
	<key>significantButton</key>
	<string>relationalSingleton</string>
	<key>storageproxyopacity</key>
	<string>canShowSign</string>
</dict>
</plist>
