<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderFlags</key>
	<string>canConnectPlate</string>
	<key>consumerawayvar</key>
	<string>singleLatency</string>
	<key>currentNode</key>
	<string>shouldShowReference</string>
	<key>dynamicnode</key>
	<string>popCaption</string>
	<key>futureshape</key>
	<string>resetIntensity</string>
	<key>largeNotifier</key>
	<string>presenterAppearance</string>
	<key>promiseOffset</key>
	<string>taxonomyFormat</string>
	<key>replicatecycle</key>
	<string>checkDecoration</string>
	<key>specifyAction</key>
	<string>inactiveMomentum</string>
	<key>uniformFactory</key>
	<string>titleColor</string>
</dict>
</plist>
