<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCycle</key>
	<string>aspecttheme</string>
	<key>animatedIntensity</key>
	<string>dispatchCoordinator</string>
	<key>beginnerLayer</key>
	<string>significantnodetail</string>
	<key>easyDrawer</key>
	<string>sampleanimation</string>
	<key>integerCoord</key>
	<string>scrollableJoiner</string>
	<key>localplaybackskewy</key>
	<string>characteristicDelay</string>
	<key>nativeSegment</key>
	<string>actionComposite</string>
	<key>originalarithmeticcontrast</key>
	<string>firstBase</string>
	<key>shouldpreparerole</key>
	<string>buttondensity</string>
</dict>
</plist>
