<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connectaccessory</key>
	<string>selectedbehavior</string>
	<key>criticalBaseline</key>
	<string>controllersaturation</string>
	<key>keyAllocator</key>
	<string>meshTop</string>
	<key>keyconfigurationright</key>
	<string>directRole</string>
	<key>transitionlayerspacing</key>
	<string>paintcolumn</string>
</dict>
</plist>
