<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediumCheckbox</key>
	<string>animatedcontainerinset</string>
	<key>pophistogram</key>
	<string>axisDirection</string>
	<key>presenterStatus</key>
	<string>wrapequalization</string>
	<key>relationalNotifier</key>
	<string>keepBatch</string>
	<key>relationalPrecision</key>
	<string>particleProcess</string>
	<key>semantictextfield</key>
	<string>commonFuture</string>
</dict>
</plist>
