<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedDescent</key>
	<string>gesturedetectorFramework</string>
	<key>destroyroute</key>
	<string>notationStatus</string>
	<key>disparateTraversal</key>
	<string>draggablesingleton</string>
	<key>lasttheme</key>
	<string>canMountedCapacities</string>
	<key>nativeElasticity</key>
	<string>stacktypepressure</string>
	<key>shouldKeepTask</key>
	<string>injectionOpacity</string>
	<key>sliderfacadeorigin</key>
	<string>tweenSkewX</string>
	<key>stepdrawer</key>
	<string>crudeAction</string>
	<key>uniformreducerposition</key>
	<string>exitProvider</string>
</dict>
</plist>
