<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticEffect</key>
	<string>respectiveAnimatedContainer</string>
	<key>basespeed</key>
	<string>concreteinjectiontop</string>
	<key>completerFeedback</key>
	<string>ternaryPlatform</string>
	<key>reductiontint</key>
	<string>binaryResponse</string>
	<key>shouldListenCollection</key>
	<string>routeJob</string>
</dict>
</plist>
