<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analogyTransparency</key>
	<string>semanticPolygon</string>
	<key>concurrentallocator</key>
	<string>oldAudio</string>
	<key>contractioncommandorientation</key>
	<string>greatzonemargin</string>
	<key>diversifiedColumn</key>
	<string>baseStrategy</string>
	<key>flexibleSign</key>
	<string>respectiveGift</string>
	<key>lastconverter</key>
	<string>trajectoryCoord</string>
	<key>mainButton</key>
	<string>dismissAnimation</string>
	<key>primarybuttonmomentum</key>
	<string>updatePopup</string>
	<key>profileBehavior</key>
	<string>presenterpicker</string>
	<key>staticIcon</key>
	<string>contractionVar</string>
</dict>
</plist>
