<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivePosition</key>
	<string>projectPadding</string>
	<key>hierarchicallossopacity</key>
	<string>numericalMultiplication</string>
	<key>histogramFormat</key>
	<string>shouldPushStream</string>
	<key>sustainablePositioned</key>
	<string>prismatichash</string>
	<key>trajectoryTension</key>
	<string>dynamicSorter</string>
</dict>
</plist>
