<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintskewx</key>
	<string>diffableInfo</string>
	<key>converterCenter</key>
	<string>subscribeAspectRatio</string>
	<key>numericalTangent</key>
	<string>dropdownbuttonfragments</string>
	<key>plateDistance</key>
	<string>canInflateCapacities</string>
	<key>relationalinjectiondensity</key>
	<string>indicatorValue</string>
	<key>shouldBuildKernel</key>
	<string>inflateContraction</string>
	<key>synchronizemetadata</key>
	<string>remediationindex</string>
</dict>
</plist>
