<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentdepth</key>
	<string>subscribeContraction</string>
	<key>controllerbyactivity</key>
	<string>shouldCreateAnimatedContainer</string>
	<key>seamlessHistogram</key>
	<string>shouldConnectStateless</string>
	<key>shouldContinueMultiplication</key>
	<string>elasticResponse</string>
	<key>staticHandler</key>
	<string>significantcapacity</string>
	<key>streamshapehead</key>
	<string>elasticEntropy</string>
</dict>
</plist>
