<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionduration</key>
	<string>shouldSaveGraphic</string>
	<key>checklistResponse</key>
	<string>numericalMember</string>
	<key>deferredStore</key>
	<string>synchronousTitle</string>
	<key>parallelNode</key>
	<string>calculatetask</string>
	<key>prevpetinset</key>
	<string>exceptionChain</string>
	<key>respectiveAperture</key>
	<string>operationBottom</string>
	<key>shearconfiguration</key>
	<string>entityBorder</string>
	<key>statelessexpanded</key>
	<string>canSetStateEntropy</string>
	<key>staticMatrix</key>
	<string>characteristicTop</string>
</dict>
</plist>
