<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contrastScale</key>
	<string>fragmentMomentum</string>
	<key>mediocreKernel</key>
	<string>lockSize</string>
</dict>
</plist>
