<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedOccasion</key>
	<string>canResumeHeap</string>
	<key>beginnerResilience</key>
	<string>standalonestrength</string>
	<key>hyperbolicAperture</key>
	<string>startCache</string>
	<key>listviewTint</key>
	<string>temporarySingleton</string>
	<key>missedGift</key>
	<string>shouldContinueLoss</string>
	<key>otherRectangle</key>
	<string>renamePresenter</string>
	<key>resolverRight</key>
	<string>informationTension</string>
	<key>subsequentException</key>
	<string>cleanTopic</string>
</dict>
</plist>
