<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardColor</key>
	<string>blocChain</string>
	<key>contrasttint</key>
	<string>canFormatSkirt</string>
	<key>entityShade</key>
	<string>normalDelegate</string>
	<key>interactorColor</key>
	<string>listviewincludedecorator</string>
	<key>materializerbehavior</key>
	<string>detachFrame</string>
	<key>sinkorientation</key>
	<string>memberamongstyle</string>
	<key>subtleLifecycle</key>
	<string>singlelatency</string>
	<key>sustainableMatrix</key>
	<string>escalateboxshadow</string>
	<key>workflowLocation</key>
	<string>semanticsBuffer</string>
</dict>
</plist>
