<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionAwait</key>
	<string>shouldConnectNavigation</string>
	<key>activatedCheckbox</key>
	<string>floatChapter</string>
	<key>backwardThread</key>
	<string>seamlessexception</string>
	<key>beginnerInjection</key>
	<string>linkerkind</string>
	<key>borderinterval</key>
	<string>sequentialIntegrity</string>
	<key>dissociatedecoration</key>
	<string>canPublishChecklist</string>
	<key>histogramtag</key>
	<string>permanentGraphic</string>
	<key>inactiveListener</key>
	<string>evaluationFormat</string>
	<key>limitcoordinator</key>
	<string>tooloutsidememento</string>
	<key>referenceproxyinset</key>
	<string>shouldDispatchBatch</string>
</dict>
</plist>
