<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticConfiguration</key>
	<string>substantialresponder</string>
	<key>compositionaltransitioncenter</key>
	<string>deferredSegment</string>
	<key>customizedElasticity</key>
	<string>playHash</string>
	<key>entropyefficiency</key>
	<string>shouldDeserializeReduction</string>
	<key>layoutTail</key>
	<string>canFetchOptimizer</string>
	<key>reactiveInteger</key>
	<string>shouldSerializeBloc</string>
	<key>sharedfeaturevalidation</key>
	<string>missedGradient</string>
	<key>shouldMountedCaption</key>
	<string>concurrentVolume</string>
	<key>touchStatus</key>
	<string>smallGrid</string>
	<key>unmountedinstruction</key>
	<string>validateAspectRatio</string>
</dict>
</plist>
