<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioDuration</key>
	<string>sequentialBoxShadow</string>
	<key>createdecoration</key>
	<string>currentanalyzer</string>
	<key>declarativeModel</key>
	<string>scrollableReceiver</string>
	<key>reactiveloader</key>
	<string>exitaspect</string>
	<key>standaloneLabel</key>
	<string>currenticon</string>
	<key>wrapperDuration</key>
	<string>canPushPromise</string>
</dict>
</plist>
