<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorBrightness</key>
	<string>shouldSetStateMission</string>
	<key>attachaperture</key>
	<string>shapeDelay</string>
	<key>intermediateanimationcenter</key>
	<string>canCacheHeap</string>
	<key>shouldDeserializeModulus</key>
	<string>prepareAxis</string>
</dict>
</plist>
