<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleMobile</key>
	<string>canTransitionSemantics</string>
	<key>gateContrast</key>
	<string>asynchronousGraphic</string>
	<key>nativeObject</key>
	<string>immediateGestureDetector</string>
	<key>nodeDirection</key>
	<string>canStartScreen</string>
	<key>originalResource</key>
	<string>intuitiveEquivalent</string>
	<key>publicAlert</key>
	<string>catalystduringshape</string>
	<key>rangeHead</key>
	<string>conformDelegate</string>
	<key>requiredinteractortail</key>
	<string>toolslider</string>
	<key>shouldEndDropdownButton</key>
	<string>publishallocator</string>
</dict>
</plist>
