<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bindbloc</key>
	<string>pauseScreen</string>
	<key>compositionalGroup</key>
	<string>immutableConfidentiality</string>
	<key>elasticfragmentopacity</key>
	<string>observeSession</string>
	<key>exceptionDirection</key>
	<string>priorDelivery</string>
	<key>independentPermutation</key>
	<string>canNavigateDocument</string>
	<key>missedSubscriber</key>
	<string>similarProjection</string>
	<key>persistentTweak</key>
	<string>analogyTag</string>
	<key>resourcemapper</key>
	<string>cardForm</string>
	<key>shouldAttachAspectRatio</key>
	<string>trainCustomPaint</string>
</dict>
</plist>
