<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concatenatemodal</key>
	<string>transformlabel</string>
	<key>concurrentConsumption</key>
	<string>hashproxypadding</string>
	<key>hyperbolicbuilderkind</key>
	<string>nibMargin</string>
	<key>joinerBound</key>
	<string>pendingMember</string>
	<key>responsiveGroup</key>
	<string>channelaction</string>
	<key>shouldAnimateGradient</key>
	<string>canDisconnectStamp</string>
</dict>
</plist>
