<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>latencytint</key>
	<string>opaqueSemantics</string>
	<key>opaqueIsolate</key>
	<string>substantialcallbackskewy</string>
	<key>shouldShowPrecision</key>
	<string>awaitOrigin</string>
	<key>slashvalidation</key>
	<string>canRenderCell</string>
</dict>
</plist>
