<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSingleton</key>
	<string>scrollableSpot</string>
	<key>beginnerPlate</key>
	<string>exponentRate</string>
	<key>columnPressure</key>
	<string>directInterpolation</string>
	<key>denseDetail</key>
	<string>descriptorLeft</string>
	<key>gestureAlignment</key>
	<string>canPaintModal</string>
	<key>imperativeasynctransparency</key>
	<string>detachparticle</string>
	<key>kernelmodel</key>
	<string>slashSystem</string>
	<key>resourcescheduler</key>
	<string>statelessEntropy</string>
	<key>staticGrayscale</key>
	<string>newestcontractionfrequency</string>
</dict>
</plist>
