<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinofeedback</key>
	<string>shouldEndAnimatedContainer</string>
	<key>hyperbolicrowtag</key>
	<string>resultActivity</string>
	<key>instructiontierpressure</key>
	<string>dimensionEnvironment</string>
	<key>intermediateparticlecount</key>
	<string>deserializeMission</string>
	<key>modelTint</key>
	<string>subpixelSaturation</string>
	<key>normalChooser</key>
	<string>entityinterval</string>
	<key>prevRemediation</key>
	<string>tasklayertheme</string>
	<key>subpixelcurve</key>
	<string>encodeZone</string>
</dict>
</plist>
