<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audiotail</key>
	<string>shouldEmitCharacter</string>
	<key>comprehensivepresenter</key>
	<string>exceptionTag</string>
	<key>desktopPlayback</key>
	<string>localTriangles</string>
	<key>ephemeralTechnique</key>
	<string>opaqueNotifier</string>
	<key>finderLocation</key>
	<string>animatedEvolution</string>
	<key>immediateShader</key>
	<string>musicForce</string>
	<key>inactivetechniqueoffset</key>
	<string>continueCapacities</string>
	<key>popupwrapper</key>
	<string>asyncContrast</string>
	<key>shouldBindSpecifier</key>
	<string>shouldTransformDocument</string>
	<key>shouldResumeSample</key>
	<string>shouldProcessSkin</string>
</dict>
</plist>
