<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicDescent</key>
	<string>interactivezoneedge</string>
	<key>certificateduration</key>
	<string>analyzeAwait</string>
	<key>enabledHash</key>
	<string>shearBuilder</string>
	<key>precisionadapterkind</key>
	<string>reducerCoord</string>
	<key>sortedTransition</key>
	<string>associatedVariant</string>
	<key>trianglesCoord</key>
	<string>encodeFragment</string>
	<key>usedgridview</key>
	<string>shoulddetachdrawer</string>
</dict>
</plist>
