<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedPresenter</key>
	<string>joinerVelocity</string>
	<key>deferredprofileskewy</key>
	<string>sliderthroughoperation</string>
	<key>displayableTangent</key>
	<string>canYieldCharacter</string>
	<key>largeLayout</key>
	<string>borderType</string>
	<key>mainExponent</key>
	<string>momentumHue</string>
	<key>modalresponse</key>
	<string>reducerName</string>
	<key>multireferencealignment</key>
	<string>rapidReplica</string>
	<key>scrollableMedia</key>
	<string>sizedboxMomentum</string>
</dict>
</plist>
