<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastTheme</key>
	<string>firstProfile</string>
	<key>objectSkewX</key>
	<string>consumptionDepth</string>
	<key>shouldParseCanvas</key>
	<string>endmethod</string>
</dict>
</plist>
