<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imperativeHistogram</key>
	<string>gesturedetectorTension</string>
	<key>pageviewappearance</key>
	<string>canFetchButton</string>
	<key>schedulerHue</key>
	<string>notifierparticle</string>
	<key>standaloneTheme</key>
	<string>contractionorientation</string>
</dict>
</plist>
