<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralResolver</key>
	<string>parseFuture</string>
	<key>gramScale</key>
	<string>mediocreSplitter</string>
	<key>multiChapter</key>
	<string>normloop</string>
	<key>multiEquivalent</key>
	<string>prevReference</string>
</dict>
</plist>
