<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveEffect</key>
	<string>markFactory</string>
	<key>cartesianColor</key>
	<string>allocatorOffset</string>
	<key>fusedInfo</key>
	<string>shouldStreamTransition</string>
	<key>hardLinker</key>
	<string>analogySpeed</string>
	<key>permanentHero</key>
	<string>controllerplatformbound</string>
	<key>tableprocesspressure</key>
	<string>dataDuration</string>
</dict>
</plist>
