<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopCharacter</key>
	<string>keyAnimatedContainer</string>
	<key>detailSkewX</key>
	<string>unmountedGate</string>
	<key>dissociatecubit</key>
	<string>temporaryImpression</string>
	<key>entityRotation</key>
	<string>boxshadowColor</string>
	<key>ephemeraltransformerdelay</key>
	<string>liteGestureDetector</string>
	<key>localMusic</key>
	<string>decoupleText</string>
	<key>lossrouter</key>
	<string>reductionResponse</string>
	<key>mediocregridinset</key>
	<string>gridviewvelocity</string>
	<key>publicRestriction</key>
	<string>canTransitionController</string>
	<key>statefulAllocator</key>
	<string>crucialPageView</string>
</dict>
</plist>
