<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateimage</key>
	<string>offsetInset</string>
	<key>extensionSaturation</key>
	<string>signatureShape</string>
	<key>missedpainter</key>
	<string>resolverNumber</string>
	<key>sessionTag</key>
	<string>readUtil</string>
	<key>standaloneisolatebottom</key>
	<string>petAction</string>
</dict>
</plist>
