<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardInterpolation</key>
	<string>semanticroutertag</string>
	<key>builderamongscope</key>
	<string>shouldPopInstruction</string>
	<key>channeluntilmemento</key>
	<string>typicalLayer</string>
	<key>protocoltop</key>
	<string>onextensiontap</string>
	<key>routerDistance</key>
	<string>animatedSlider</string>
	<key>temporaryPublisher</key>
	<string>compositionalPlate</string>
	<key>uniformcompletion</key>
	<string>shouldEncodeNavigation</string>
</dict>
</plist>
