<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipmentframe</key>
	<string>symmetricproject</string>
	<key>independentSkin</key>
	<string>interactiveHistogram</string>
	<key>isolateEdge</key>
	<string>localizationinparam</string>
	<key>publictabbaredge</key>
	<string>unbindBaseline</string>
	<key>subsequentChecklist</key>
	<string>ignoredLog</string>
</dict>
</plist>
