<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivecontainer</key>
	<string>customizedFrame</string>
	<key>advancedGate</key>
	<string>secondSine</string>
	<key>binderMode</key>
	<string>largeConfiguration</string>
	<key>bufferlikenumber</key>
	<string>cupertinoSegue</string>
	<key>immutabledecorationshade</key>
	<string>defaultInkWell</string>
	<key>providerResponse</key>
	<string>progressbardepth</string>
	<key>screenasset</key>
	<string>requestStructure</string>
	<key>shouldMountedScroll</key>
	<string>poolResource</string>
	<key>slashPosition</key>
	<string>ignoredDetail</string>
	<key>tensorConnector</key>
	<string>mountedCompletion</string>
</dict>
</plist>
