<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayablechannels</key>
	<string>directNode</string>
	<key>lazyService</key>
	<string>singleOptimizer</string>
	<key>temporaryPolyfill</key>
	<string>themevisibility</string>
</dict>
</plist>
