<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferRight</key>
	<string>performChart</string>
	<key>chapterHead</key>
	<string>associatedZone</string>
	<key>deferredAppBar</key>
	<string>publictabviewindex</string>
	<key>delicateStateless</key>
	<string>shouldBindGesture</string>
	<key>drawerTransparency</key>
	<string>canPrepareDescriptor</string>
	<key>expandedInset</key>
	<string>canValidateCollection</string>
	<key>hierarchicalBandwidth</key>
	<string>sliderawait</string>
	<key>largeScope</key>
	<string>imperativeSkirt</string>
	<key>publicPageView</key>
	<string>formatController</string>
	<key>shouldNavigateGradient</key>
	<string>hardNotification</string>
</dict>
</plist>
