<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeStream</key>
	<string>fragmentsInset</string>
	<key>formatcolor</key>
	<string>executeBuilder</string>
	<key>masterindex</key>
	<string>buttonRotation</string>
	<key>requestexponent</key>
	<string>vectorizeState</string>
	<key>sinklikephase</key>
	<string>sinevector</string>
	<key>subscriptionobserverpadding</key>
	<string>prismaticaspectratio</string>
	<key>symbollayer</key>
	<string>materialCatalyst</string>
</dict>
</plist>
