<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateSegment</key>
	<string>masterbuilder</string>
	<key>distinctionhead</key>
	<string>dependencyrate</string>
	<key>hardInteger</key>
	<string>processorFrequency</string>
	<key>permanentAnalogy</key>
	<string>labelkindvisible</string>
	<key>robustFrame</key>
	<string>methodSystem</string>
	<key>seamlessDocument</key>
	<string>staticInteger</string>
	<key>tangentRate</key>
	<string>rebuildButton</string>
	<key>techniqueMode</key>
	<string>canPresentCaption</string>
	<key>tentativeColor</key>
	<string>canPublishMaster</string>
</dict>
</plist>
