<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorindex</key>
	<string>cycleIndex</string>
	<key>asynchronousFragments</key>
	<string>isolateacceleration</string>
	<key>boxScale</key>
	<string>canObserveGift</string>
	<key>catalystjobsaturation</key>
	<string>sinkContrast</string>
	<key>comprehensiveStream</key>
	<string>canSetStateCache</string>
	<key>mutableTextField</key>
	<string>capsulestructurecolor</string>
	<key>originalUtil</key>
	<string>createOption</string>
	<key>playbacktopic</key>
	<string>originalRenderer</string>
	<key>seamlessConstant</key>
	<string>flexiblemembervalidation</string>
	<key>similarNorm</key>
	<string>notifyPromise</string>
</dict>
</plist>
