<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticColor</key>
	<string>offsetsubscription</string>
	<key>concurrentProvision</key>
	<string>mediumOccasion</string>
	<key>converterAlignment</key>
	<string>hasbloc</string>
	<key>stackintask</key>
	<string>distinctionIndex</string>
	<key>temporarydelegate</key>
	<string>canEmitRadio</string>
</dict>
</plist>
