<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicPopup</key>
	<string>shouldCreatePromise</string>
	<key>convertertheme</key>
	<string>richtextenvironmentkind</string>
	<key>explicitQuaternion</key>
	<string>hierarchicalIndicator</string>
	<key>providerfeedback</key>
	<string>touchPrototype</string>
</dict>
</plist>
