<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentCompleter</key>
	<string>handleSizedBox</string>
	<key>disconnectmap</key>
	<string>limitZone</string>
	<key>featureDepth</key>
	<string>currentCapacities</string>
	<key>inheritedAnalyzer</key>
	<string>explicitConverter</string>
	<key>mediocreCurve</key>
	<string>checkCurve</string>
	<key>referenceMargin</key>
	<string>statefulAscent</string>
	<key>tappablePresenter</key>
	<string>evaluationShade</string>
</dict>
</plist>
