<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultSpine</key>
	<string>concreteConverter</string>
	<key>geometricLoader</key>
	<string>delicateOperation</string>
	<key>searcherscale</key>
	<string>dependencyBorder</string>
	<key>shouldDisconnectRichText</key>
	<string>modelFlyweight</string>
	<key>shouldDisposeChallenge</key>
	<string>rangeMomentum</string>
	<key>shouldKeepCursor</key>
	<string>permanentMaterializer</string>
	<key>specifyAnalyzer</key>
	<string>statelessMomentum</string>
	<key>symmetricWorkflow</key>
	<string>locateScene</string>
</dict>
</plist>
