<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderHue</key>
	<string>popupInterval</string>
	<key>commonDescription</key>
	<string>responderName</string>
	<key>criticalsingleton</key>
	<string>shouldlayouttask</string>
	<key>fixedReference</key>
	<string>storyboardShape</string>
	<key>giftVelocity</key>
	<string>membershape</string>
	<key>hasOverlay</key>
	<string>canSetStateCatalyst</string>
	<key>respectiveCompleter</key>
	<string>disconnectCustomPaint</string>
	<key>shouldMountedDuration</key>
	<string>declarativeIsolate</string>
	<key>shouldconnectcupertino</key>
	<string>preparetheme</string>
</dict>
</plist>
