<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredRichText</key>
	<string>largeScroll</string>
	<key>difficultProfile</key>
	<string>updateGestureDetector</string>
	<key>efficiencySkewX</key>
	<string>canPopFuture</string>
	<key>greatReplica</key>
	<string>explicitMechanism</string>
	<key>resultTension</key>
	<string>resolverSize</string>
	<key>scaleBottom</key>
	<string>relationalQueue</string>
	<key>shouldTrainLayout</key>
	<string>decodeCupertino</string>
	<key>sizedboxCoord</key>
	<string>remediationhue</string>
</dict>
</plist>
