<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferright</key>
	<string>canCreateGram</string>
	<key>immutableAnalogy</key>
	<string>mountCursor</string>
	<key>inheritedDecoration</key>
	<string>animateOffset</string>
	<key>paintcurve</key>
	<string>animationTransparency</string>
	<key>parsestate</key>
	<string>canStopSegment</string>
	<key>staticdescriptordirection</key>
	<string>shouldNotifyMargin</string>
	<key>substantialspinebound</key>
	<string>respectiveSymbol</string>
	<key>subtleCard</key>
	<string>parseMargin</string>
</dict>
</plist>
