<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedresult</key>
	<string>inflateTextField</string>
	<key>appbaramortization</key>
	<string>rebuildlog</string>
	<key>backwardSemantics</key>
	<string>schedulerShape</string>
	<key>dialogsdependency</key>
	<string>routeRoute</string>
	<key>dismissstorage</key>
	<string>aggregateManager</string>
	<key>newestStateless</key>
	<string>accessibleMerger</string>
	<key>spriteState</key>
	<string>canCacheBitrate</string>
	<key>subscriptioncontrast</key>
	<string>pivotalImage</string>
	<key>typicalImpact</key>
	<string>originalStream</string>
</dict>
</plist>
