<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eraserouter</key>
	<string>canNotifyHeap</string>
	<key>euclideanInteractor</key>
	<string>eventIndex</string>
	<key>isboxshadow</key>
	<string>coordinatorOpacity</string>
	<key>oldGate</key>
	<string>canSerializeMission</string>
	<key>shouldPaintModal</key>
	<string>transformMusic</string>
</dict>
</plist>
