<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncFlags</key>
	<string>unregisterBloc</string>
	<key>detachmediaquery</key>
	<string>callbackcontaintype</string>
	<key>unmarshalsink</key>
	<string>drawBuffer</string>
</dict>
</plist>
