<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderskewx</key>
	<string>uniformStep</string>
	<key>certificatereliability</key>
	<string>cubesprite</string>
	<key>disabledCombiner</key>
	<string>routelayout</string>
	<key>interactiveLoop</key>
	<string>protectedtextfieldstyle</string>
	<key>presenterTint</key>
	<string>materialTaxonomy</string>
	<key>shouldEncodeBase</key>
	<string>diffablesubscription</string>
	<key>shouldLoadSkirt</key>
	<string>shouldCancelPet</string>
	<key>unactivatedLoop</key>
	<string>blockind</string>
	<key>unsortedIntensity</key>
	<string>crudeText</string>
</dict>
</plist>
