<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveHash</key>
	<string>asynchronousExponent</string>
	<key>consultativeMediaQuery</key>
	<string>allocateView</string>
	<key>mutablePoint</key>
	<string>shouldProcessMatrix</string>
	<key>restrictionPressure</key>
	<string>sceneindex</string>
</dict>
</plist>
