<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoManager</key>
	<string>operationTension</string>
	<key>autoUtil</key>
	<string>synchronousProvider</string>
	<key>deferredTabView</key>
	<string>certificateScope</string>
	<key>explicitGrid</key>
	<string>viewBridge</string>
	<key>prismaticMesh</key>
	<string>textAppearance</string>
	<key>zonetheme</key>
	<string>projectionDensity</string>
</dict>
</plist>
