<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSizedBox</key>
	<string>navigationFlyweight</string>
	<key>animationsaturation</key>
	<string>repositoryForce</string>
	<key>callbackwithouttask</key>
	<string>hardBaseline</string>
	<key>diversifiedDocument</key>
	<string>disposeSemantics</string>
	<key>interactionRight</key>
	<string>tappablePolygon</string>
	<key>sophisticatedshader</key>
	<string>otherDisclaimer</string>
</dict>
</plist>
