<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileProtocol</key>
	<string>shouldUnmountLoss</string>
	<key>declarativeScaffold</key>
	<string>segmentDepth</string>
	<key>diversifiedcardsaturation</key>
	<string>hierarchicalpopupspacing</string>
	<key>originalmovementstate</key>
	<string>bufferVelocity</string>
	<key>shouldConnectDimension</key>
	<string>canStopSignature</string>
	<key>viewtieredge</key>
	<string>cachestore</string>
</dict>
</plist>
