<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeinterpolation</key>
	<string>observeralongscope</string>
	<key>comprehensiveFrame</key>
	<string>typicalRepository</string>
	<key>greatserviceorientation</key>
	<string>immutableExponent</string>
	<key>sharedColor</key>
	<string>moduluslocation</string>
</dict>
</plist>
