<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clonemodel</key>
	<string>deactivateEntity</string>
	<key>defaultgram</key>
	<string>statedistinction</string>
	<key>descriptionPosition</key>
	<string>activewidget</string>
	<key>elementColor</key>
	<string>scalePhase</string>
	<key>hyperbolicreducer</key>
	<string>beginnerTextField</string>
	<key>invisibleShape</key>
	<string>shouldSubscribeComposition</string>
	<key>resizableSprite</key>
	<string>materialentropy</string>
	<key>shouldUnmountCapsule</key>
	<string>aspectHead</string>
	<key>timeMode</key>
	<string>canDisconnectTransition</string>
	<key>usedSkirt</key>
	<string>liteMargin</string>
</dict>
</plist>
