<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineSpacing</key>
	<string>geometricOperation</string>
	<key>greatCompleter</key>
	<string>shouldInflateActivity</string>
	<key>imperativeSwitch</key>
	<string>staticExtension</string>
	<key>nativeTrajectory</key>
	<string>selectedcard</string>
	<key>protectedTitle</key>
	<string>draggablemodel</string>
	<key>semantictask</key>
	<string>functionalCallback</string>
	<key>shouldUnmountImage</key>
	<string>flexiblebinary</string>
	<key>sinkIndex</key>
	<string>sortedVariant</string>
	<key>substantialHeap</key>
	<string>injectConstraint</string>
</dict>
</plist>
