<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerSkewY</key>
	<string>stacklayershade</string>
	<key>autoScaffold</key>
	<string>mendvisibility</string>
	<key>inkwellCenter</key>
	<string>prismaticGift</string>
	<key>mainMargin</key>
	<string>mountedTable</string>
	<key>multiInteractor</key>
	<string>shouldUnbindAxis</string>
	<key>priorCurve</key>
	<string>custompaintinlayer</string>
	<key>robustProvision</key>
	<string>canEncodePainter</string>
	<key>selectedeffect</key>
	<string>normalCombiner</string>
	<key>sorterBehavior</key>
	<string>offsetQueue</string>
	<key>textMargin</key>
	<string>canSetStateDocument</string>
</dict>
</plist>
