<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowDelay</key>
	<string>inflateIcon</string>
	<key>certificateVisible</key>
	<string>responsiveCheckbox</string>
	<key>constraintLeft</key>
	<string>usedFormat</string>
	<key>immediateCluster</key>
	<string>fragmentsInset</string>
	<key>latencyOrigin</key>
	<string>dedicatedCompletion</string>
	<key>liteCatalyst</key>
	<string>handleTernary</string>
	<key>optimizerSpeed</key>
	<string>canSkipTangent</string>
	<key>otherCapacities</key>
	<string>dedicatedUtil</string>
	<key>sinkappearance</key>
	<string>validatedocument</string>
	<key>smartScreen</key>
	<string>gradientfacadespacing</string>
</dict>
</plist>
