<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphicRate</key>
	<string>retainedRenderer</string>
	<key>greatEffect</key>
	<string>activeColor</string>
	<key>gridviewrect</key>
	<string>canConnectBinary</string>
	<key>largeNorm</key>
	<string>transformerAction</string>
	<key>localAnimation</key>
	<string>normMethod</string>
	<key>modalKind</key>
	<string>handlerTint</string>
	<key>offsetnearfunction</key>
	<string>presentCube</string>
	<key>shouldTransitionGram</key>
	<string>uniqueVolume</string>
	<key>statelessPicker</key>
	<string>secondScope</string>
	<key>transformershade</key>
	<string>associatedcolumn</string>
</dict>
</plist>
