<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionResponder</key>
	<string>canPushThread</string>
	<key>replicaDepth</key>
	<string>secondboxinset</string>
	<key>requiredstreamskewx</key>
	<string>showWorkflow</string>
	<key>shouldupdateequipment</key>
	<string>onpaddingtap</string>
	<key>smallZone</key>
	<string>unaryScope</string>
	<key>stringifymedia</key>
	<string>maintainparticle</string>
	<key>subsequentCallback</key>
	<string>loadSlider</string>
	<key>tweakSize</key>
	<string>similarStroke</string>
	<key>typicalInkWell</key>
	<string>listenerFormat</string>
	<key>utilMargin</key>
	<string>materializeTween</string>
</dict>
</plist>
