<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatormargin</key>
	<string>introspectAwait</string>
	<key>seamlessskin</key>
	<string>cosineInterpreter</string>
	<key>sharedroutersize</key>
	<string>associatedShader</string>
	<key>shouldCacheSpot</key>
	<string>multiMesh</string>
	<key>shouldContinueSign</key>
	<string>reactiveLayout</string>
	<key>shoulddeserializecompletion</key>
	<string>anchorParameter</string>
</dict>
</plist>
