<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicpet</key>
	<string>autoRenderer</string>
	<key>globaltext</key>
	<string>subscribeTernary</string>
	<key>managernearlevel</key>
	<string>seamlessReliability</string>
	<key>multiTimeline</key>
	<string>appendternary</string>
	<key>profileTransparency</key>
	<string>arithmeticcellorientation</string>
	<key>stackOpacity</key>
	<string>backwardevolution</string>
</dict>
</plist>
