<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listenerbesidevisitor</key>
	<string>repositoryJob</string>
	<key>uniformLoop</key>
	<string>significantwidgetstatus</string>
	<key>usedTaxonomy</key>
	<string>disparateSpecifier</string>
	<key>utilVisible</key>
	<string>primaryFormat</string>
</dict>
</plist>
