<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionleft</key>
	<string>syncService</string>
	<key>animationcenter</key>
	<string>priorModule</string>
	<key>controllerlayerfrequency</key>
	<string>mixinNode</string>
	<key>lastExtension</key>
	<string>normalDocument</string>
</dict>
</plist>
