<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianSchema</key>
	<string>shouldMountMonster</string>
	<key>checklistBound</key>
	<string>canRouteOptimizer</string>
	<key>delicateButton</key>
	<string>disabledBandwidth</string>
	<key>granularConfiguration</key>
	<string>streamResource</string>
	<key>groupFormat</key>
	<string>disabledReceiver</string>
	<key>listenerphaseskewy</key>
	<string>mediumExpanded</string>
	<key>newestResilience</key>
	<string>containerBrightness</string>
	<key>rapidHandler</key>
	<string>storageRate</string>
	<key>tableMargin</key>
	<string>receiverShade</string>
</dict>
</plist>
