<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorselector</key>
	<string>blocMemento</string>
	<key>customResolver</key>
	<string>accelerateGraph</string>
	<key>numericalCell</key>
	<string>substantialEquivalent</string>
	<key>rectoutsidestyle</key>
	<string>interactiveSubscription</string>
	<key>resizableAlignment</key>
	<string>shouldInflateBitrate</string>
	<key>singletonmodetag</key>
	<string>queueVar</string>
</dict>
</plist>
