<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>latencyvalidation</key>
	<string>apertureallocator</string>
	<key>shouldpersistmember</key>
	<string>semanticMaster</string>
	<key>sizedboxVisible</key>
	<string>mediaqueryLeft</string>
	<key>usedTrajectory</key>
	<string>canPresentScale</string>
	<key>visibleLayer</key>
	<string>workflowfrequency</string>
</dict>
</plist>
