<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyphasemargin</key>
	<string>alertwithcontext</string>
	<key>descriptionfunctionstate</key>
	<string>persistentSizedBox</string>
	<key>intuitiveFinder</key>
	<string>removeDecoration</string>
	<key>keystateinteraction</key>
	<string>pauseConsumer</string>
	<key>substantialMultiplication</key>
	<string>symbolStyle</string>
	<key>tappableConvolution</key>
	<string>dependencyCount</string>
</dict>
</plist>
