<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengedistance</key>
	<string>eraseunary</string>
	<key>desktopEntity</key>
	<string>registerTitle</string>
	<key>directlyTool</key>
	<string>localizationedge</string>
	<key>exitpainter</key>
	<string>sustainableButton</string>
	<key>expandedoutsideadapter</key>
	<string>shouldObserveProject</string>
	<key>giftType</key>
	<string>renderSegment</string>
	<key>handleradius</key>
	<string>mountqueue</string>
	<key>intensitypadding</key>
	<string>canSetStateSegue</string>
	<key>notifycoordinator</key>
	<string>tappableFragments</string>
</dict>
</plist>
