<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionColor</key>
	<string>transitionTangent</string>
	<key>consumerlinker</key>
	<string>canRebuildProvider</string>
	<key>eagerStorage</key>
	<string>unregistersubpixel</string>
	<key>mobileswiftsaturation</key>
	<string>offsetMomentum</string>
	<key>reducerDensity</key>
	<string>canPopTool</string>
	<key>shouldFetchMomentum</key>
	<string>shouldSkipTransition</string>
	<key>typicalConfidentiality</key>
	<string>prevGift</string>
</dict>
</plist>
