<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionLocation</key>
	<string>listviewCoord</string>
	<key>cosineVisible</key>
	<string>sliderversusvisitor</string>
	<key>deferredNavigation</key>
	<string>drawRepository</string>
	<key>loopcharacteristic</key>
	<string>materialPet</string>
	<key>mutableSample</key>
	<string>significantequalizationvisible</string>
	<key>nativeParticle</key>
	<string>loopBehavior</string>
	<key>opaqueFeature</key>
	<string>concatenateBuilder</string>
	<key>priorSubscriber</key>
	<string>visitLayout</string>
	<key>textchooser</key>
	<string>lazyalert</string>
</dict>
</plist>
