<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bindcurve</key>
	<string>temporaryExponent</string>
	<key>compositionalProjection</key>
	<string>unactivatedClipper</string>
	<key>deferredManager</key>
	<string>bulletMode</string>
	<key>eagerDocument</key>
	<string>synchronousScheduler</string>
	<key>observeanimation</key>
	<string>singlePublisher</string>
	<key>precisionsize</key>
	<string>invokeException</string>
	<key>shouldAnimateMission</key>
	<string>navigateMap</string>
	<key>shouldDetachCell</key>
	<string>matrixContext</string>
	<key>similarColumn</key>
	<string>shouldPublishCanvas</string>
</dict>
</plist>
