<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateTail</key>
	<string>consultativeAnimation</string>
	<key>commonchartcenter</key>
	<string>accordionHash</string>
	<key>lastMapper</key>
	<string>presentCertificate</string>
	<key>shouldMountedProtocol</key>
	<string>imageContext</string>
	<key>temporaryusage</key>
	<string>boxPosition</string>
	<key>unbindremainder</key>
	<string>inactivenavigatorshade</string>
	<key>upgradebloc</key>
	<string>greatPolyfill</string>
</dict>
</plist>
