<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitTheme</key>
	<string>actionbridgeindex</string>
	<key>immutablesymboltag</key>
	<string>occasionContrast</string>
	<key>pickerLocation</key>
	<string>subscriberEdge</string>
	<key>splitterStyle</key>
	<string>shouldunmountcolumn</string>
</dict>
</plist>
