<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildertempleindex</key>
	<string>dedicatedUtil</string>
	<key>elasticContainer</key>
	<string>directCharacter</string>
	<key>parallelProgressBar</key>
	<string>otherLog</string>
	<key>shouldAnimateLayout</key>
	<string>heapInset</string>
	<key>shouldLayoutPlayback</key>
	<string>rapidStoryboard</string>
</dict>
</plist>
