<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderBrightness</key>
	<string>canContinueVariant</string>
	<key>customLatency</key>
	<string>factorystagebound</string>
	<key>descentCoord</key>
	<string>stringifyInterface</string>
	<key>draggableUtil</key>
	<string>gramshade</string>
	<key>mediocreprofile</key>
	<string>disableddescription</string>
	<key>sampleShape</key>
	<string>informationDensity</string>
	<key>shouldMountedEquipment</key>
	<string>compositionalColor</string>
	<key>shouldPersistFlex</key>
	<string>granularCallback</string>
</dict>
</plist>
