<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopInfo</key>
	<string>dynamicdescription</string>
	<key>fusedPageView</key>
	<string>fixedConstraint</string>
	<key>intuitiveConvolution</key>
	<string>pivotalBuilder</string>
	<key>missedlistener</key>
	<string>decodeCertificate</string>
</dict>
</plist>
