<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveLocalization</key>
	<string>parallelThroughput</string>
	<key>curvesize</key>
	<string>unmountedShader</string>
	<key>interfaceOrigin</key>
	<string>loopProcess</string>
	<key>mainternary</key>
	<string>contractionVisitor</string>
	<key>permanentlocalizationcount</key>
	<string>prepareLog</string>
	<key>rectForce</key>
	<string>componentmomentum</string>
	<key>searcherStatus</key>
	<string>canCreateStack</string>
	<key>validatetransition</key>
	<string>findResolver</string>
</dict>
</plist>
