<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionNotifier</key>
	<string>promiseDelay</string>
	<key>initializeusecase</key>
	<string>convertLoop</string>
	<key>normalInfo</key>
	<string>relationalsorter</string>
	<key>originalStamp</key>
	<string>validateTask</string>
	<key>providerversuschain</key>
	<string>inflateLocalization</string>
	<key>rapidUsage</key>
	<string>interactionStatus</string>
	<key>streamforce</key>
	<string>taskBridge</string>
	<key>subtleRouter</key>
	<string>activeDimension</string>
	<key>unsortedtouchtheme</key>
	<string>greatElement</string>
</dict>
</plist>
