<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicOptimizer</key>
	<string>imperativeRemainder</string>
	<key>blocuntiladapter</key>
	<string>tweakName</string>
	<key>emitchannel</key>
	<string>pinchableasset</string>
	<key>hyperbolicnibsize</key>
	<string>shouldBuildBehavior</string>
	<key>integerCount</key>
	<string>dynamictransitionhead</string>
	<key>staticStep</key>
	<string>accordionProcessor</string>
</dict>
</plist>
