<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatorMargin</key>
	<string>vertexContrast</string>
	<key>asynchronousassetbrightness</key>
	<string>shouldNavigateCursor</string>
	<key>customCallback</key>
	<string>currentCupertino</string>
	<key>geometricRouter</key>
	<string>directSine</string>
	<key>subscriptionScale</key>
	<string>primaryascent</string>
</dict>
</plist>
