<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTriangles</key>
	<string>skinMode</string>
	<key>concurrentMethod</key>
	<string>cloneLocalization</string>
	<key>configurationdistance</key>
	<string>significantHeap</string>
	<key>deactivatebaseline</key>
	<string>reduceResponse</string>
	<key>hardLifecycle</key>
	<string>cacheDocument</string>
	<key>prismaticChooser</key>
	<string>techniquedensity</string>
	<key>robustGem</key>
	<string>labelskewx</string>
	<key>shouldStreamPlayback</key>
	<string>stackCoord</string>
	<key>streamcycleappearance</key>
	<string>sanitizeGroup</string>
</dict>
</plist>
