<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionstagescale</key>
	<string>temporaryAlert</string>
	<key>comprehensiveRoute</key>
	<string>checkboxtext</string>
	<key>declarativeplatetail</key>
	<string>immutableTechnique</string>
	<key>gridposition</key>
	<string>offsetNavigator</string>
	<key>hashTint</key>
	<string>movementTension</string>
	<key>notifiershapeskewx</key>
	<string>intuitiveScroller</string>
	<key>smartslider</key>
	<string>touchbrightness</string>
	<key>uniqueReplica</key>
	<string>capacityRate</string>
</dict>
</plist>
