<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCertificate</key>
	<string>shouldStreamAppBar</string>
	<key>ephemeralCosine</key>
	<string>accordionCard</string>
	<key>finishevent</key>
	<string>canSaveScreen</string>
	<key>indicatorbeyondlevel</key>
	<string>mediaqueryinsideoperation</string>
	<key>isIndicator</key>
	<string>canAnimatePoint</string>
	<key>lazyNavigation</key>
	<string>canLoadDuration</string>
	<key>shouldCacheSkirt</key>
	<string>restartMultiplication</string>
	<key>shouldFetchReference</key>
	<string>canDetachNavigation</string>
	<key>shouldListenAspect</key>
	<string>shouldBindModulus</string>
	<key>standaloneGrain</key>
	<string>utilinenvironment</string>
</dict>
</plist>
