<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentConverter</key>
	<string>independentActivity</string>
	<key>fixedBandwidth</key>
	<string>cardscheduler</string>
	<key>stampcoord</key>
	<string>cosineDecorator</string>
	<key>updatesemantics</key>
	<string>lazyPresenter</string>
</dict>
</plist>
