<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianFuture</key>
	<string>disconnectPositioned</string>
	<key>extensionframeworkforce</key>
	<string>observebutton</string>
	<key>inheritedDetail</key>
	<string>sliderScale</string>
	<key>interactiveButton</key>
	<string>actionfeedback</string>
	<key>iterativeBullet</key>
	<string>bulletparticle</string>
	<key>metricsColor</key>
	<string>shouldInflateKernel</string>
	<key>reactivemovementshape</key>
	<string>specifyLatency</string>
	<key>scaffoldTag</key>
	<string>independentFilter</string>
	<key>trainduration</key>
	<string>compositionVisibility</string>
	<key>volumeDensity</key>
	<string>resizableMap</string>
</dict>
</plist>
