<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelName</key>
	<string>subscribeTheme</string>
	<key>currentRadio</key>
	<string>shouldInflateCursor</string>
	<key>draggableAnchor</key>
	<string>canFormatBorder</string>
	<key>pinchableinkwellforce</key>
	<string>singleFactory</string>
	<key>prepareprojection</key>
	<string>functionalSplitter</string>
	<key>shapemode</key>
	<string>startSlider</string>
	<key>similarThread</key>
	<string>resultCoord</string>
</dict>
</plist>
