<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disposetabview</key>
	<string>anchorVisitor</string>
	<key>ephemeralExpanded</key>
	<string>missionOffset</string>
	<key>interactivePreview</key>
	<string>usedEntity</string>
	<key>latencyCount</key>
	<string>litegraphic</string>
	<key>newestEvent</key>
	<string>validateaperture</string>
	<key>requiredSpecifier</key>
	<string>shouldTransformMatrix</string>
	<key>shouldEndComposition</key>
	<string>backwardMusic</string>
	<key>shouldPresentFlex</key>
	<string>activeItem</string>
	<key>shouldserializeappbar</key>
	<string>robustSkin</string>
	<key>tensorskinbrightness</key>
	<string>routerBottom</string>
</dict>
</plist>
