<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartviasystem</key>
	<string>shouldPersistHero</string>
	<key>paddingmode</key>
	<string>canParseController</string>
	<key>tappableCustomPaint</key>
	<string>vectorContrast</string>
	<key>uniformposition</key>
	<string>materialChapter</string>
</dict>
</plist>
