<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridRate</key>
	<string>axisHead</string>
	<key>indicatorInteraction</key>
	<string>draggableasset</string>
	<key>mobileNib</key>
	<string>automodel</string>
	<key>unaryHead</key>
	<string>reusableCapacity</string>
</dict>
</plist>
