<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalAwait</key>
	<string>shouldPauseMission</string>
	<key>remediationContrast</key>
	<string>transformModel</string>
	<key>secondRecursion</key>
	<string>normalDrawer</string>
	<key>shouldNotifyDropdownButton</key>
	<string>rapidcacheduration</string>
</dict>
</plist>
