<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedDistinction</key>
	<string>canDetachRow</string>
	<key>cupertinoleft</key>
	<string>shouldsavebuilder</string>
	<key>equivalentMomentum</key>
	<string>prismaticModule</string>
	<key>limitcallback</key>
	<string>asynchronousAnimation</string>
	<key>numericalParticle</key>
	<string>latencyTag</string>
	<key>otherPet</key>
	<string>divideAllocator</string>
	<key>pickerBound</key>
	<string>managerTheme</string>
	<key>semanticsRotation</key>
	<string>discardedaccessorykind</string>
	<key>shouldDismissGestureDetector</key>
	<string>canPauseStateless</string>
	<key>shouldPauseMomentum</key>
	<string>currentRadio</string>
</dict>
</plist>
