<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>densesprite</key>
	<string>immutableMenu</string>
	<key>descriptorHead</key>
	<string>navigatorBound</string>
	<key>explicitRow</key>
	<string>euclideandecorationdelay</string>
	<key>hierarchicalcatalystvalidation</key>
	<string>canDetachLayout</string>
	<key>substantialObserver</key>
	<string>flexusecase</string>
	<key>subtleDescriptor</key>
	<string>shouldMountArithmetic</string>
</dict>
</plist>
