<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greatspot</key>
	<string>observeCallback</string>
	<key>interactorplatformposition</key>
	<string>isicon</string>
	<key>mainLifecycle</key>
	<string>currentPosition</string>
	<key>materialTentative</key>
	<string>resizableDrawer</string>
	<key>shouldPresentBinary</key>
	<string>channelincludetier</string>
	<key>sinkMargin</key>
	<string>functionaltraversal</string>
	<key>statefulContraction</key>
	<string>prevMetadata</string>
</dict>
</plist>
