<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableproject</key>
	<string>momentumPosition</string>
	<key>firstsplitter</key>
	<string>cosinecontainnumber</string>
	<key>gramDepth</key>
	<string>shouldDetachButton</string>
	<key>indicatorflags</key>
	<string>decoupleCurve</string>
	<key>mapShape</key>
	<string>smallMaterializer</string>
	<key>protocolMomentum</key>
	<string>scrollableTechnique</string>
	<key>shouldDispatchEntropy</key>
	<string>observeCupertino</string>
	<key>shouldEndStream</key>
	<string>pageviewparticle</string>
</dict>
</plist>
