<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipmentcoord</key>
	<string>interactiveusagedirection</string>
	<key>itemFormat</key>
	<string>clipperPosition</string>
	<key>rapidTheme</key>
	<string>channelproxystatus</string>
	<key>resourceRight</key>
	<string>wrapAwait</string>
	<key>shaderstyle</key>
	<string>literecursion</string>
	<key>shouldUnbindTable</key>
	<string>shouldReplaceActivity</string>
	<key>transformchapter</key>
	<string>schedulerInteraction</string>
	<key>unaryHead</key>
	<string>observeMomentum</string>
</dict>
</plist>
