<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardBorder</key>
	<string>emitColumn</string>
	<key>binaryimpact</key>
	<string>configurationShape</string>
	<key>gestureForce</key>
	<string>shouldTransitionRadio</string>
	<key>primaryVideo</key>
	<string>materializepoint</string>
	<key>scrollablecompletion</key>
	<string>canPushUnary</string>
	<key>scrollablepainter</key>
	<string>canDismissFuture</string>
	<key>statefulRight</key>
	<string>prismaticLocalization</string>
	<key>streaminjection</key>
	<string>touchPopup</string>
	<key>tweenDirection</key>
	<string>disparateTimeline</string>
</dict>
</plist>
