<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopMechanism</key>
	<string>streamcoord</string>
	<key>hasLogarithm</key>
	<string>alignmentVisible</string>
	<key>permissivePublisher</key>
	<string>canPersistBorder</string>
	<key>shouldListenProfile</key>
	<string>variantStatus</string>
</dict>
</plist>
