<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianAlignment</key>
	<string>endBatch</string>
	<key>commonmedia</key>
	<string>synchronizeeffect</string>
	<key>completerstate</key>
	<string>euclideanInfrastructure</string>
</dict>
</plist>
