<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicTween</key>
	<string>directPainter</string>
	<key>consultativereduction</key>
	<string>quantizerRow</string>
	<key>draggableSprite</key>
	<string>cacheRow</string>
	<key>greatlabelshade</key>
	<string>delicateBinder</string>
	<key>immutableScale</key>
	<string>globalAxis</string>
	<key>inactiveIsolate</key>
	<string>shouldHandleSample</string>
	<key>oncardchanged</key>
	<string>deprecateStream</string>
	<key>pushclipper</key>
	<string>similarDescriptor</string>
	<key>topicimpact</key>
	<string>fusedEvent</string>
</dict>
</plist>
