<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicQuaternion</key>
	<string>canAttachColumn</string>
	<key>characterDensity</key>
	<string>preveffect</string>
	<key>criticalGram</key>
	<string>builderopacity</string>
	<key>featureName</key>
	<string>stepMemento</string>
	<key>onmoduluschanged</key>
	<string>grayscalerate</string>
	<key>otherTexture</key>
	<string>advancedmedia</string>
	<key>permutationFeedback</key>
	<string>protocolpicker</string>
	<key>sharedResource</key>
	<string>geometricmastertension</string>
	<key>transitiondetector</key>
	<string>storereliability</string>
</dict>
</plist>
