<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enhancecapsule</key>
	<string>delegatemechanism</string>
	<key>geometricConfiguration</key>
	<string>delegateQueue</string>
	<key>inheritedDistinction</key>
	<string>combinerVisible</string>
	<key>priorTouch</key>
	<string>appbarOffset</string>
	<key>protocolPosition</key>
	<string>disparateSearcher</string>
	<key>sequentialaperturekind</key>
	<string>persistSample</string>
	<key>specifySine</key>
	<string>deferredRemainder</string>
	<key>textuntilstate</key>
	<string>displayablecombiner</string>
</dict>
</plist>
