<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatecompleter</key>
	<string>durationsinceaction</string>
	<key>concreteConnector</key>
	<string>adaptiveResponse</string>
	<key>contractionAlignment</key>
	<string>cosineBrightness</string>
	<key>declarativeTraversal</key>
	<string>canBuildColumn</string>
	<key>ephemeralSearcher</key>
	<string>canReplaceCurve</string>
	<key>geometricTicker</key>
	<string>commonQuaternion</string>
	<key>liteCompletion</key>
	<string>canPaintModal</string>
	<key>presenterpatternoffset</key>
	<string>createNode</string>
	<key>shouldProcessSizedBox</key>
	<string>enabledEqualization</string>
	<key>transformborder</key>
	<string>shouldformatlog</string>
</dict>
</plist>
