<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparateController</key>
	<string>parallelNavigator</string>
	<key>graphOpacity</key>
	<string>statebeyondvalue</string>
	<key>secondDescriptor</key>
	<string>spotscale</string>
	<key>swiftrate</key>
	<string>canUnmountMaterial</string>
</dict>
</plist>
