<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSpecifier</key>
	<string>ignoredSegue</string>
	<key>graphicfuture</key>
	<string>shouldPersistTable</string>
	<key>processorTag</key>
	<string>ephemeralImpact</string>
</dict>
</plist>
