<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveReduction</key>
	<string>permissiveComposition</string>
	<key>baselineSpeed</key>
	<string>detachChallenge</string>
	<key>basicNib</key>
	<string>delegateCubit</string>
	<key>decorationCount</key>
	<string>shouldFormatMusic</string>
	<key>eagertask</key>
	<string>animateprovider</string>
	<key>interactionRight</key>
	<string>requiredDimension</string>
	<key>layoutactivityinset</key>
	<string>canValidateGram</string>
	<key>prismaticTouch</key>
	<string>mediumTentative</string>
	<key>segmentLocation</key>
	<string>listenNotifier</string>
	<key>similargridtag</key>
	<string>maxIcon</string>
</dict>
</plist>
