<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gemshade</key>
	<string>elasticImpact</string>
	<key>histogramenvironmentdistance</key>
	<string>transformerpatternorientation</string>
	<key>integrationbehavior</key>
	<string>transitionListView</string>
	<key>reducercyclevelocity</key>
	<string>musicMethod</string>
	<key>reusablePermutation</key>
	<string>binderMomentum</string>
	<key>shouldDisposeProvider</key>
	<string>beginnerMenu</string>
	<key>streamversusdecorator</key>
	<string>fetchPlayback</string>
	<key>variantlatency</key>
	<string>playObserver</string>
</dict>
</plist>
