<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bandwidthinterval</key>
	<string>bindFlex</string>
	<key>hyperbolicColor</key>
	<string>resizableservicestatus</string>
	<key>shouldPersistPainter</key>
	<string>petSkewX</string>
</dict>
</plist>
