<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncLeft</key>
	<string>nibCycle</string>
	<key>conformmodel</key>
	<string>shouldDispatchSegue</string>
	<key>directAspect</key>
	<string>hyperbolicSlider</string>
	<key>primaryResponse</key>
	<string>unsortedgraphforce</string>
	<key>rebuildfactory</key>
	<string>semanticBoxShadow</string>
	<key>requiredIndicator</key>
	<string>precisionVisible</string>
	<key>shaderForce</key>
	<string>canNavigateGesture</string>
	<key>shouldListenContainer</key>
	<string>canTransitionListView</string>
	<key>sortedRectangle</key>
	<string>heapDistance</string>
	<key>usedFragments</key>
	<string>fragmentdensity</string>
</dict>
</plist>
