<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratiodistance</key>
	<string>materializeFrame</string>
	<key>fixedGate</key>
	<string>opaqueButton</string>
	<key>inheritedSwitch</key>
	<string>immediateTool</string>
	<key>interactiveTrajectory</key>
	<string>tabviewtop</string>
	<key>multiCosine</key>
	<string>entityequivalent</string>
	<key>rapidGrayscale</key>
	<string>textfieldmargin</string>
</dict>
</plist>
