<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyPet</key>
	<string>factoryBrightness</string>
	<key>elasticEvent</key>
	<string>accordionfactorytension</string>
	<key>shouldDisconnectAnimatedContainer</key>
	<string>euclideanTool</string>
	<key>shouldDispatchClipper</key>
	<string>tensorSearcher</string>
	<key>shouldInflatePrecision</key>
	<string>cacheMonster</string>
	<key>statelessWidget</key>
	<string>shouldDisconnectPoint</string>
	<key>textfieldFrequency</key>
	<string>canParseSubpixel</string>
</dict>
</plist>
