<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activePageView</key>
	<string>arithmeticOption</string>
	<key>cubitFrequency</key>
	<string>loaderedge</string>
	<key>dependencyPosition</key>
	<string>scrollerTail</string>
	<key>eagerComposition</key>
	<string>equalizationTension</string>
	<key>hasThread</key>
	<string>yieldwidget</string>
	<key>immutablethreadscale</key>
	<string>retainTransition</string>
	<key>modulusAcceleration</key>
	<string>spineVariable</string>
	<key>parallelAnimatedContainer</key>
	<string>functionalPainter</string>
	<key>persistentNotation</key>
	<string>originalInteraction</string>
	<key>scrollableUnary</key>
	<string>canBindStateless</string>
</dict>
</plist>
