<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fragmenttexture</key>
	<string>responsivecapsule</string>
	<key>opaqueformat</key>
	<string>shouldSaveSegment</string>
	<key>pageviewlikework</key>
	<string>layerarchitecture</string>
	<key>resilientBloc</key>
	<string>stopGrayscale</string>
	<key>segmentstyle</key>
	<string>cellDirection</string>
	<key>shouldPopPlate</key>
	<string>baselinetail</string>
	<key>sophisticatedOperation</key>
	<string>defaultcheckbox</string>
	<key>usedLinker</key>
	<string>significantChecklist</string>
	<key>vectorizeprovider</key>
	<string>entitythanlayer</string>
</dict>
</plist>
