<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedRepository</key>
	<string>notationCoord</string>
	<key>cartesianProcessor</key>
	<string>retainedCubit</string>
	<key>consultativeAnimation</key>
	<string>canDetachExponent</string>
	<key>coordinatorcontextbehavior</key>
	<string>basicRect</string>
	<key>dedicatedSwitch</key>
	<string>threadAction</string>
	<key>mountdelegate</key>
	<string>featureInterpreter</string>
	<key>movementdescription</key>
	<string>missedFinder</string>
	<key>observerscopecount</key>
	<string>scenebeyondobserver</string>
	<key>otherProfile</key>
	<string>opaqueRect</string>
	<key>shouldProcessLoss</key>
	<string>detachTangent</string>
</dict>
</plist>
