<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistTail</key>
	<string>explicitInterface</string>
	<key>dedicatedWorkflow</key>
	<string>draggableVideo</string>
	<key>dialogsinjection</key>
	<string>animateProject</string>
	<key>heroversusframework</key>
	<string>rapidFragments</string>
	<key>lastStroke</key>
	<string>stepRotation</string>
	<key>mediumCapacity</key>
	<string>robustPainter</string>
	<key>musicsaturation</key>
	<string>diffablebutton</string>
	<key>parallelactivitysize</key>
	<string>refactorZone</string>
	<key>tangentLocation</key>
	<string>roleDepth</string>
</dict>
</plist>
