<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardgesture</key>
	<string>greatAmortization</string>
	<key>exceptionandpattern</key>
	<string>directlyGrain</string>
	<key>imperativeMerger</key>
	<string>textfieldDistance</string>
	<key>localCanvas</key>
	<string>behaviorOpacity</string>
	<key>mediumTable</key>
	<string>routeCheckbox</string>
	<key>normalnodetop</key>
	<string>descentSize</string>
	<key>scrollertop</key>
	<string>tabbaradapterinteraction</string>
	<key>shouldKeepBorder</key>
	<string>constructexpanded</string>
</dict>
</plist>
