<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableSign</key>
	<string>cacheCount</string>
	<key>lastEquivalent</key>
	<string>poolUtil</string>
	<key>mutableGridView</key>
	<string>commondetector</string>
	<key>newestresolver</key>
	<string>adaptiveBullet</string>
	<key>rectangleIndex</key>
	<string>durationPosition</string>
	<key>serializemusic</key>
	<string>animationTemple</string>
	<key>shouldYieldDescriptor</key>
	<string>presenterPattern</string>
	<key>synchronousProvider</key>
	<string>canListenNavigator</string>
</dict>
</plist>
