<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioAlignment</key>
	<string>textfieldSize</string>
	<key>inheritedRow</key>
	<string>materialSearcher</string>
	<key>permanentScenario</key>
	<string>globalConstraint</string>
	<key>sizedboxMargin</key>
	<string>multiScroller</string>
	<key>webappbar</key>
	<string>capacitiesvisibility</string>
</dict>
</plist>
