<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveCapsule</key>
	<string>protectedsample</string>
	<key>observerkindresponse</key>
	<string>othercapacity</string>
	<key>permissiveAllocator</key>
	<string>consultativeaspectratiocolor</string>
	<key>shouldStreamScaffold</key>
	<string>optionObserver</string>
	<key>smartIsolate</key>
	<string>easyGift</string>
</dict>
</plist>
