<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridviewLocation</key>
	<string>soundvalidation</string>
	<key>immediateInkWell</key>
	<string>triggerTag</string>
	<key>interfacevideo</key>
	<string>iterativeRequest</string>
	<key>notificationedge</key>
	<string>priorityTail</string>
	<key>overlayDirection</key>
	<string>unsortedevolution</string>
	<key>radiusskewx</key>
	<string>compositionTint</string>
	<key>shouldPublishLayout</key>
	<string>replaceOffset</string>
	<key>shouldfinishnavigator</key>
	<string>shouldEncodeCompletion</string>
	<key>smallState</key>
	<string>loopTop</string>
</dict>
</plist>
