<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellInset</key>
	<string>listenerscopestate</string>
	<key>concurrentConstraint</key>
	<string>canUnmountTangent</string>
	<key>customizedNode</key>
	<string>sustainableIntegrity</string>
	<key>shouldProcessCompletion</key>
	<string>canObserveStamp</string>
	<key>shouldparsecomposition</key>
	<string>permanentSlash</string>
	<key>transformerMode</key>
	<string>presenterdistance</string>
</dict>
</plist>
