<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatednotificationvelocity</key>
	<string>completiondespiteframework</string>
	<key>normalReplica</key>
	<string>shouldStartGift</string>
	<key>parallelSwift</key>
	<string>shouldDismissMultiplication</string>
	<key>parsesubscription</key>
	<string>integrationOrigin</string>
	<key>signstatetag</key>
	<string>completedPositioned</string>
	<key>spriteDistance</key>
	<string>shouldPublishReduction</string>
	<key>switchKind</key>
	<string>intuitiveCaption</string>
	<key>unactivatedQuaternion</key>
	<string>currentChecklist</string>
	<key>unaryPressure</key>
	<string>mobileVar</string>
</dict>
</plist>
