<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticFormat</key>
	<string>accessiblePolygon</string>
	<key>beginnercustompaint</key>
	<string>lockSubscription</string>
	<key>characterBrightness</key>
	<string>canSetStateGem</string>
	<key>connectorPosition</key>
	<string>sliderawayparameter</string>
	<key>containerVelocity</key>
	<string>statelessSpacing</string>
	<key>globalRange</key>
	<string>refactorSubscription</string>
	<key>mendbottom</key>
	<string>shouldAnimateTechnique</string>
	<key>methodreducer</key>
	<string>pivotalChart</string>
	<key>modelstatus</key>
	<string>alphadensity</string>
	<key>textprocessdirection</key>
	<string>apertureContrast</string>
</dict>
</plist>
