<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileSlash</key>
	<string>specifiermementokind</string>
	<key>channelEdge</key>
	<string>ephemeralqueuesize</string>
	<key>protectedObserver</key>
	<string>skipNavigator</string>
	<key>shouldStreamSpecifier</key>
	<string>autoColor</string>
	<key>shouldYieldObserver</key>
	<string>pinchableequivalent</string>
	<key>sortedProgressBar</key>
	<string>shouldAnimateGrayscale</string>
	<key>updategradient</key>
	<string>canMountMovement</string>
</dict>
</plist>
