<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionFeature</key>
	<string>zoneSpacing</string>
	<key>capsuleinteraction</key>
	<string>smartModulus</string>
	<key>intermediateSink</key>
	<string>shouldSerializeDropdownButton</string>
	<key>nextTitle</key>
	<string>geometricTimeline</string>
	<key>reliabilityAcceleration</key>
	<string>tabbarduration</string>
	<key>subsequentCosine</key>
	<string>layoutJob</string>
	<key>thresholdtint</key>
	<string>requestLoop</string>
	<key>webmetadatadepth</key>
	<string>publishSymbol</string>
</dict>
</plist>
