<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxloop</key>
	<string>canDispatchExpanded</string>
	<key>consultativeColumn</key>
	<string>explicitFragments</string>
	<key>lifecyclePadding</key>
	<string>numericalChapter</string>
	<key>shouldBindMusic</key>
	<string>eagerModule</string>
	<key>shouldEncodeSemantics</key>
	<string>standaloneusageshape</string>
	<key>shouldKeepButton</key>
	<string>immutableHero</string>
</dict>
</plist>
