<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerForce</key>
	<string>playObserver</string>
	<key>easybaseline</key>
	<string>statefulService</string>
	<key>equalrole</key>
	<string>refreshInteractor</string>
	<key>lostShader</key>
	<string>localizationFunction</string>
	<key>musicTheme</key>
	<string>trajectoryMargin</string>
	<key>notificationfilter</key>
	<string>shouldDecodeStateless</string>
	<key>positionLeft</key>
	<string>pushProgressBar</string>
	<key>shouldPrepareAnimation</key>
	<string>autoEvaluation</string>
	<key>spriteversussystem</key>
	<string>opaqueSemantics</string>
	<key>threadcontextstyle</key>
	<string>reducerinoperation</string>
</dict>
</plist>
