<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>momentumformtail</key>
	<string>shouldInflateDrawer</string>
	<key>restartlabel</key>
	<string>delicateComponent</string>
	<key>shouldPresentIndicator</key>
	<string>adaptiveGroup</string>
	<key>statelessinteractor</key>
	<string>shouldPrepareColumn</string>
	<key>usedMobile</key>
	<string>statelessCubit</string>
</dict>
</plist>
