<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeLabel</key>
	<string>resizePosition</string>
	<key>currentreference</key>
	<string>drawerMomentum</string>
	<key>nextPoint</key>
	<string>kernelcontrast</string>
	<key>seamlessAlignment</key>
	<string>canUnbindBox</string>
	<key>sustainableConverter</key>
	<string>updatescale</string>
	<key>tappableTabBar</key>
	<string>hierarchicalArchitecture</string>
</dict>
</plist>
