<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticExpanded</key>
	<string>advancedWrapper</string>
	<key>capacitiesStyle</key>
	<string>positionedBottom</string>
	<key>captionPressure</key>
	<string>entropysingletoncolor</string>
	<key>factoryOffset</key>
	<string>disabledGesture</string>
	<key>materialRotation</key>
	<string>textfieldInterval</string>
	<key>observechapter</key>
	<string>compositionVariable</string>
	<key>pausecurve</key>
	<string>arithmeticTopic</string>
	<key>playbackview</key>
	<string>disconnectPadding</string>
	<key>secondCursor</key>
	<string>animatedInfrastructure</string>
</dict>
</plist>
