<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentBuilder</key>
	<string>unbindController</string>
	<key>gesturetemplemode</key>
	<string>geometricTabView</string>
	<key>inkwellphasefeedback</key>
	<string>buildGrayscale</string>
	<key>materialItem</key>
	<string>listviewScale</string>
</dict>
</plist>
