<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>movementState</key>
	<string>resolverCoord</string>
	<key>notificationDepth</key>
	<string>routeramongstrategy</string>
	<key>resultName</key>
	<string>beginnerUtil</string>
	<key>shouldPaintLogarithm</key>
	<string>objectFeedback</string>
	<key>streamlineisolate</key>
	<string>originalContainer</string>
	<key>webTransformer</key>
	<string>evaluatedocument</string>
</dict>
</plist>
