<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>multiInteger</key>
	<string>audioDelay</string>
	<key>protectedTransition</key>
	<string>unsortedExpanded</string>
	<key>standaloneEffect</key>
	<string>firstGradient</string>
	<key>stepOpacity</key>
	<string>layoutobservertype</string>
</dict>
</plist>
