<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateVelocity</key>
	<string>specifyCurve</string>
	<key>deliveryValidation</key>
	<string>shouldStreamBoxShadow</string>
	<key>displayableDispatcher</key>
	<string>popMultiplication</string>
	<key>entityDirection</key>
	<string>giftskewy</string>
	<key>intuitiveSign</key>
	<string>inflateentity</string>
	<key>iterativeIcon</key>
	<string>advancedAscent</string>
	<key>pagerDelay</key>
	<string>rowTier</string>
	<key>positionedPadding</key>
	<string>parallelInjection</string>
</dict>
</plist>
