<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableThread</key>
	<string>logDelay</string>
	<key>euclideanView</key>
	<string>pivotalTweak</string>
	<key>groupPressure</key>
	<string>catalystmend</string>
	<key>keycontainer</key>
	<string>dedicatednodestatus</string>
	<key>materialprovision</key>
	<string>originalGridView</string>
	<key>processtransition</key>
	<string>makeRoute</string>
	<key>shouldProcessNotifier</key>
	<string>convertunary</string>
	<key>staticworkflowtint</key>
	<string>sophisticatedBatch</string>
	<key>timerDensity</key>
	<string>iterativeTriangles</string>
	<key>uniqueComposition</key>
	<string>equivalentFormat</string>
</dict>
</plist>
