<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gatestatus</key>
	<string>signatureVelocity</string>
	<key>globalPadding</key>
	<string>normcontainkind</string>
	<key>hasCell</key>
	<string>assetpressure</string>
	<key>observelistview</key>
	<string>searchEntity</string>
</dict>
</plist>
