<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decodeconstraint</key>
	<string>comprehensiveDuration</string>
	<key>deserializestream</key>
	<string>greatRestriction</string>
	<key>destroynorm</key>
	<string>exponentcontextright</string>
	<key>imperativeRect</key>
	<string>subscribepreview</string>
	<key>inactivePlate</key>
	<string>compositionaldisclaimer</string>
	<key>nextLog</key>
	<string>notifyPrecision</string>
	<key>reductionLocation</key>
	<string>disparateCheckbox</string>
	<key>shouldCancelMomentum</key>
	<string>consultativeSubscription</string>
	<key>shouldPersistStamp</key>
	<string>eventPrototype</string>
</dict>
</plist>
