<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteanalogy</key>
	<string>mediatransparency</string>
	<key>desktopNavigator</key>
	<string>skipSpot</string>
	<key>displayableEffect</key>
	<string>canProcessWidget</string>
	<key>easyBox</key>
	<string>pushOffset</string>
	<key>elasticobserver</key>
	<string>workflowStrategy</string>
	<key>modulusrange</key>
	<string>activeController</string>
	<key>searcherRotation</key>
	<string>shouldBuildPet</string>
	<key>secondAscent</key>
	<string>compositionalsprite</string>
	<key>subtleDelegate</key>
	<string>interceptRadius</string>
</dict>
</plist>
