<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerMomentum</key>
	<string>canFinishPageView</string>
	<key>providerBottom</key>
	<string>detachloop</string>
	<key>seamlessAlpha</key>
	<string>subsequentAnimation</string>
	<key>staticrequeststate</key>
	<string>inflatetransition</string>
</dict>
</plist>
