<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystOpacity</key>
	<string>deserializeChart</string>
	<key>constantspeed</key>
	<string>canceloverlay</string>
	<key>delicateChooser</key>
	<string>actionviafunction</string>
	<key>evaluationDirection</key>
	<string>deserializeObserver</string>
	<key>granularCollection</key>
	<string>shouldKeepEqualization</string>
	<key>musiclatency</key>
	<string>interpolationintegration</string>
	<key>mutableFormat</key>
	<string>movementLayer</string>
	<key>newestLatency</key>
	<string>finishLogarithm</string>
	<key>sliderframeworkvelocity</key>
	<string>moveResolver</string>
	<key>uniformAperture</key>
	<string>remainderTemple</string>
</dict>
</plist>
