<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticfuture</key>
	<string>textTail</string>
	<key>basiccontrollerhead</key>
	<string>marginInterval</string>
	<key>deprecateskirt</key>
	<string>pendingMaterial</string>
	<key>disparateFragments</key>
	<string>evolutionstate</string>
	<key>handlerright</key>
	<string>navigatorCommand</string>
	<key>latencytheme</key>
	<string>localizationcoord</string>
	<key>opaqueEfficiency</key>
	<string>canAttachStoryboard</string>
	<key>reactiveMetadata</key>
	<string>crucialScheduler</string>
	<key>relationalPermutation</key>
	<string>resetButton</string>
	<key>stackshade</key>
	<string>intensityInterpreter</string>
</dict>
</plist>
