<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equivalentStyle</key>
	<string>prevDistinction</string>
	<key>exponentduration</key>
	<string>controllerValue</string>
	<key>permissiveTime</key>
	<string>createpoint</string>
	<key>primaryAnimation</key>
	<string>globalobserver</string>
	<key>priorStore</key>
	<string>listenerBridge</string>
</dict>
</plist>
