<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblePresenter</key>
	<string>permanentMusic</string>
	<key>comprehensiveReceiver</key>
	<string>unbindgift</string>
	<key>concreteMapper</key>
	<string>compositionPlatform</string>
	<key>concretebaselineorigin</key>
	<string>infrastructureState</string>
	<key>cubeDelay</key>
	<string>mediaHead</string>
	<key>relationalService</key>
	<string>disconnectGram</string>
	<key>storyboardInset</key>
	<string>concatenateController</string>
</dict>
</plist>
