<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSign</key>
	<string>associatedStamp</string>
	<key>consultativeconstraint</key>
	<string>autotitleskewx</string>
	<key>rowPadding</key>
	<string>dimensionPosition</string>
	<key>webImpact</key>
	<string>meshDepth</string>
</dict>
</plist>
