<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedArithmetic</key>
	<string>invisibleCoordinator</string>
	<key>embraceslider</key>
	<string>hasgram</string>
	<key>fusedSemantics</key>
	<string>directlywidget</string>
	<key>joinerOffset</key>
	<string>shouldAnimateCompletion</string>
	<key>matrixversuspattern</key>
	<string>navigateSlider</string>
	<key>subscriptionplatformdepth</key>
	<string>rendererDensity</string>
	<key>textresponse</key>
	<string>formatColumn</string>
</dict>
</plist>
