<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphahue</key>
	<string>symmetricProfile</string>
	<key>custompaintDuration</key>
	<string>immutableFinder</string>
	<key>draggableConsumer</key>
	<string>newestOptimizer</string>
	<key>escalateroute</key>
	<string>rapidEmitter</string>
	<key>lastModal</key>
	<string>specifierbutton</string>
	<key>pagerVisibility</key>
	<string>serializeSine</string>
	<key>secondHandler</key>
	<string>reactiveInteraction</string>
	<key>tabletitle</key>
	<string>synchronouspresenter</string>
	<key>ternaryFormat</key>
	<string>progressbarintegrity</string>
</dict>
</plist>
