<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoTop</key>
	<string>projectionshape</string>
	<key>dimensiontag</key>
	<string>keydependency</string>
	<key>isloss</key>
	<string>lazyTitle</string>
	<key>numericalView</key>
	<string>shouldPopSkirt</string>
	<key>occasionInterval</key>
	<string>scrollLevel</string>
	<key>originalProcessor</key>
	<string>lastScope</string>
	<key>segmentRight</key>
	<string>heropicker</string>
	<key>shouldEmitPoint</key>
	<string>onoptiontap</string>
</dict>
</plist>
