<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerspeed</key>
	<string>canvasStatus</string>
	<key>lostObserver</key>
	<string>basescenario</string>
	<key>retainedContrast</key>
	<string>lastScroller</string>
	<key>ternarymargin</key>
	<string>canSubscribeCell</string>
	<key>textureBrightness</key>
	<string>lazyCache</string>
</dict>
</plist>
