<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticSubscription</key>
	<string>multiZone</string>
	<key>cartesianSink</key>
	<string>nextCustomPaint</string>
	<key>crudeDelegate</key>
	<string>shouldrestartscreen</string>
	<key>dataSkewX</key>
	<string>canFinishLabel</string>
	<key>opaqueTentative</key>
	<string>groupSkewX</string>
	<key>screenMargin</key>
	<string>synchronizeInterface</string>
	<key>stateamongtier</key>
	<string>routeVariable</string>
</dict>
</plist>
