<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveTaxonomy</key>
	<string>switchSpacing</string>
	<key>draggableWidget</key>
	<string>iterativeTrajectory</string>
	<key>draweralignment</key>
	<string>fetchAppBar</string>
	<key>flexiblesearcher</key>
	<string>disabledOptimizer</string>
	<key>iterativeAlignment</key>
	<string>canDismissAlpha</string>
	<key>missedEquivalent</key>
	<string>canReplaceReduction</string>
	<key>popscreen</key>
	<string>shouldDecodeCollection</string>
	<key>repositorythroughsingleton</key>
	<string>deserializeFlex</string>
	<key>shouldDisconnectMember</key>
	<string>presentProvider</string>
	<key>shouldParseArithmetic</key>
	<string>canNavigateStateful</string>
</dict>
</plist>
