<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionbuffer</key>
	<string>seamlessGraphic</string>
	<key>bordervideo</key>
	<string>pageviewSaturation</string>
	<key>completeractivitymomentum</key>
	<string>lostHash</string>
	<key>dynamicWorkflow</key>
	<string>serializegrain</string>
	<key>enabledFuture</key>
	<string>commonReduction</string>
	<key>joineralignment</key>
	<string>sortedScreen</string>
	<key>newestColor</key>
	<string>uniformGradient</string>
	<key>seamlessnavigator</key>
	<string>canLoadRichText</string>
	<key>sustainableListener</key>
	<string>substantialMatrix</string>
	<key>yieldfactory</key>
	<string>tabbarSpacing</string>
</dict>
</plist>
