<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedTabView</key>
	<string>unscheduleTransformer</string>
	<key>easydetector</key>
	<string>behaviorMethod</string>
	<key>finderborder</key>
	<string>sharedCheckbox</string>
	<key>fragmenttimer</key>
	<string>activatedconsumption</string>
	<key>gateevolution</key>
	<string>immediateDescriptor</string>
	<key>numericalInformation</key>
	<string>unmountTable</string>
</dict>
</plist>
