<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultskin</key>
	<string>tappableTabView</string>
	<key>materializerAcceleration</key>
	<string>effectDelay</string>
	<key>protectedReducer</key>
	<string>canCreateCard</string>
	<key>reusableBox</key>
	<string>radiusdelivery</string>
</dict>
</plist>
