<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeservice</key>
	<string>shouldFinishCapacities</string>
	<key>activitylayervisible</key>
	<string>descriptionformcolor</string>
	<key>immutableTicker</key>
	<string>defaultExtension</string>
	<key>labeldecoratormomentum</key>
	<string>shouldKeepTabBar</string>
	<key>parallellatency</key>
	<string>attachMission</string>
	<key>shouldUnmountedPageView</key>
	<string>canRestartFuture</string>
	<key>significantRenderer</key>
	<string>canMountedConsumer</string>
	<key>subscribeparticle</key>
	<string>desktopProgressBar</string>
</dict>
</plist>
