<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cleanloop</key>
	<string>shouldPresentReference</string>
	<key>cosineschema</key>
	<string>immutableProfile</string>
	<key>dynamicPet</key>
	<string>implementService</string>
	<key>granularTimeline</key>
	<string>canShowDimension</string>
	<key>independentSound</key>
	<string>reactiveProjection</string>
	<key>mobilelocalization</key>
	<string>specifyContraction</string>
	<key>objecttype</key>
	<string>canAttachNavigation</string>
	<key>repositoryRight</key>
	<string>intuitiveMaterializer</string>
	<key>shouldNotifyBitrate</key>
	<string>encodeTernary</string>
	<key>unactivatedMobile</key>
	<string>richtextPadding</string>
</dict>
</plist>
