<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedAction</key>
	<string>observeCallback</string>
	<key>entityDistance</key>
	<string>agileListener</string>
	<key>hierarchicalTween</key>
	<string>lostSymbol</string>
	<key>lastdependencyright</key>
	<string>techniqueerror</string>
	<key>shouldEndAnimatedContainer</key>
	<string>baselineDistance</string>
	<key>typicalEmitter</key>
	<string>themeLayer</string>
</dict>
</plist>
