<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSubscription</key>
	<string>setstatebehavior</string>
	<key>baserectangle</key>
	<string>draggableAllocator</string>
	<key>certificateStatus</key>
	<string>crucialbuildercolor</string>
	<key>chartbottom</key>
	<string>difficultGrain</string>
	<key>lastTexture</key>
	<string>factoryComposite</string>
	<key>relationalSkin</key>
	<string>arithmeticProfile</string>
	<key>shouldPopGridView</key>
	<string>crucialGrayscale</string>
</dict>
</plist>
