<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedColor</key>
	<string>serializeMaterial</string>
	<key>rowScale</key>
	<string>directlyConverter</string>
	<key>sophisticatedOffset</key>
	<string>shouldUnmountedHistogram</string>
</dict>
</plist>
