<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryAppearance</key>
	<string>methodTop</string>
	<key>elasticGrayscale</key>
	<string>directlystateful</string>
	<key>globalLayer</key>
	<string>localMonster</string>
	<key>keyAperture</key>
	<string>ternaryContrast</string>
	<key>prepareroute</key>
	<string>evaluationTail</string>
	<key>selectednotification</key>
	<string>mutableMultiplication</string>
	<key>shouldShowTechnique</key>
	<string>synchronousScaffold</string>
</dict>
</plist>
