<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedInterface</key>
	<string>analyzeBuffer</string>
	<key>explicitScalability</key>
	<string>inflateRadius</string>
	<key>hyperbolicPublisher</key>
	<string>touchNavigator</string>
	<key>itemDensity</key>
	<string>shouldNotifyGrayscale</string>
	<key>rapidSegue</key>
	<string>routeMedia</string>
	<key>repositoryTension</key>
	<string>analogyStyle</string>
	<key>sinkresponder</key>
	<string>analogyBound</string>
	<key>statusLocation</key>
	<string>behaviorforce</string>
</dict>
</plist>
