<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerSkewX</key>
	<string>deactivateTimer</string>
	<key>containerstageshape</key>
	<string>enhanceLocalization</string>
	<key>curveTheme</key>
	<string>infrastructureSaturation</string>
	<key>staticalignmentsize</key>
	<string>canRestartCursor</string>
	<key>storagecombiner</key>
	<string>positionedalongaction</string>
	<key>unactivatedSign</key>
	<string>canAttachPoint</string>
</dict>
</plist>
