<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>formatborder</key>
	<string>spritejobvisibility</string>
	<key>polyfillHue</key>
	<string>keepProfile</string>
	<key>seamlessSignature</key>
	<string>shouldPrepareSine</string>
	<key>shouldAnimateText</key>
	<string>radiusAppearance</string>
	<key>shouldListenMember</key>
	<string>pendingSensor</string>
</dict>
</plist>
