<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionHash</key>
	<string>canObserveTask</string>
	<key>defaultProjection</key>
	<string>staticBatch</string>
	<key>globalpresenter</key>
	<string>currentEmitter</string>
	<key>intensitymomentum</key>
	<string>isolatemargin</string>
	<key>relationalSubscriber</key>
	<string>listenerForce</string>
	<key>schedulerLocation</key>
	<string>canReplaceMultiplication</string>
	<key>shouldFetchMaterial</key>
	<string>fragmentVariable</string>
	<key>slashTag</key>
	<string>accessoryOrigin</string>
	<key>smartmetadata</key>
	<string>handlerPadding</string>
	<key>smartstoryboardinterval</key>
	<string>finishFragment</string>
</dict>
</plist>
