<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineStyle</key>
	<string>transitionContext</string>
	<key>builderdirection</key>
	<string>certificatestageflags</string>
	<key>eagerProtocol</key>
	<string>primarysensor</string>
	<key>firstLifecycle</key>
	<string>layoutSwift</string>
	<key>methodTail</key>
	<string>nibchapter</string>
	<key>positionedOffset</key>
	<string>canDismissOverlay</string>
	<key>queueinfo</key>
	<string>profileCommand</string>
	<key>sampleMargin</key>
	<string>reactiveStream</string>
	<key>seamlessDetail</key>
	<string>configurationsystemorigin</string>
	<key>skinTop</key>
	<string>shouldunbindtext</string>
</dict>
</plist>
