<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianCustomPaint</key>
	<string>shouldAttachCache</string>
	<key>currentcompletion</key>
	<string>canReplaceAccessory</string>
	<key>evolutionInteraction</key>
	<string>routeTension</string>
	<key>methodagainstparameter</key>
	<string>checkBuilder</string>
	<key>positionDistance</key>
	<string>notificationOffset</string>
	<key>priorpageview</key>
	<string>canLoadContraction</string>
	<key>repositorybridgesaturation</key>
	<string>easyPolyfill</string>
	<key>reusableStep</key>
	<string>encodeCustomPaint</string>
	<key>scrollfragments</key>
	<string>canConnectController</string>
</dict>
</plist>
