<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveAxis</key>
	<string>sharedPainter</string>
	<key>cupertinoNib</key>
	<string>detachGradient</string>
	<key>enumerateanimation</key>
	<string>shouldObserveSwitch</string>
	<key>isaspect</key>
	<string>displayableFuture</string>
	<key>lostAmortization</key>
	<string>animationForm</string>
	<key>repositoryFormat</key>
	<string>prismaticObserver</string>
	<key>responsiveinteractordistance</key>
	<string>numericalSkin</string>
	<key>robustRadio</key>
	<string>instantiateProgressBar</string>
	<key>subtlesplitter</key>
	<string>shouldDecodeCaption</string>
	<key>unactivatedSubscriber</key>
	<string>relationalMatrix</string>
</dict>
</plist>
