<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logarithmposition</key>
	<string>transitiontypeindex</string>
	<key>matrixPadding</key>
	<string>analyzeMenu</string>
	<key>mutableAlignment</key>
	<string>projectiontypecenter</string>
	<key>optimizerTail</key>
	<string>tickerlifecycle</string>
	<key>routeoption</key>
	<string>canSkipPositioned</string>
	<key>sophisticatedTweak</key>
	<string>undertakeGrid</string>
</dict>
</plist>
