<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataPadding</key>
	<string>usedMerger</string>
	<key>durationitem</key>
	<string>canRebuildEquipment</string>
	<key>inflatecycle</key>
	<string>compositionRate</string>
	<key>keyassetpadding</key>
	<string>navigatorEdge</string>
	<key>stackAlignment</key>
	<string>clearHandler</string>
	<key>sustainableConsumer</key>
	<string>canAnimateStoryboard</string>
	<key>topicscroller</key>
	<string>animatehero</string>
	<key>visiblesearcher</key>
	<string>lostConvolution</string>
</dict>
</plist>
