<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composablefactorybottom</key>
	<string>delegateComposite</string>
	<key>comprehensiveAnalogy</key>
	<string>mobileSink</string>
	<key>descriptionobservercontrast</key>
	<string>cancelparticle</string>
	<key>deserializecaption</key>
	<string>canYieldMission</string>
	<key>greatGrain</key>
	<string>masterForce</string>
	<key>interactiveDelivery</key>
	<string>channelvaluetint</string>
	<key>localMonster</key>
	<string>canUnmountCustomPaint</string>
	<key>shouldMountedCatalyst</key>
	<string>clusterinterval</string>
	<key>shouldrendercurve</key>
	<string>futureFormat</string>
</dict>
</plist>
