<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amortizationScale</key>
	<string>disposeTangent</string>
	<key>currentselector</key>
	<string>eventPhase</string>
	<key>delicateGesture</key>
	<string>containerRotation</string>
	<key>invokelistview</key>
	<string>shouldSetStateTask</string>
	<key>kerneldensity</key>
	<string>canPaintMember</string>
	<key>materialRichText</key>
	<string>descriptionInterval</string>
	<key>numericalBinary</key>
	<string>inheritedEmitter</string>
	<key>shouldStreamStamp</key>
	<string>mixinAsset</string>
	<key>themeusecase</key>
	<string>shouldparsereference</string>
</dict>
</plist>
