<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sessionDelay</key>
	<string>inheritedInfrastructure</string>
	<key>smartProgressBar</key>
	<string>responseScale</string>
	<key>standaloneRow</key>
	<string>oldMechanism</string>
</dict>
</plist>
