<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineFeedback</key>
	<string>beginnerOptimizer</string>
	<key>currenttouch</key>
	<string>petBehavior</string>
	<key>fragmentHue</key>
	<string>canNavigateCanvas</string>
	<key>inactiveMapper</key>
	<string>composableChooser</string>
	<key>mapForce</key>
	<string>mainGate</string>
	<key>shouldEncodeOperation</key>
	<string>hyperbolicgram</string>
	<key>storehead</key>
	<string>methodFormat</string>
</dict>
</plist>
