<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveGem</key>
	<string>instructionStrategy</string>
	<key>baselineacceleration</key>
	<string>cupertinoProcess</string>
	<key>descriptionCenter</key>
	<string>canStartLayout</string>
	<key>easyResponder</key>
	<string>functionalConsumer</string>
	<key>interfaceleft</key>
	<string>expandedCycle</string>
	<key>listenerstroke</key>
	<string>subscriberContrast</string>
	<key>serializedescriptor</key>
	<string>skirtStructure</string>
	<key>shouldFetchPlayback</key>
	<string>handlePet</string>
</dict>
</plist>
