<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentResource</key>
	<string>lockUseCase</string>
	<key>errortension</key>
	<string>shouldResumePrecision</string>
	<key>interactiveUtil</key>
	<string>independentRemainder</string>
	<key>prevTrigger</key>
	<string>symmetricDescription</string>
	<key>resizableReliability</key>
	<string>popupAction</string>
</dict>
</plist>
