<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableBrush</key>
	<string>pivotalWidget</string>
	<key>custompaintVisibility</key>
	<string>themeDuration</string>
	<key>dropdownbuttonattier</key>
	<string>gesturedetectorparameterfrequency</string>
	<key>timelineright</key>
	<string>shouldLayoutModal</string>
</dict>
</plist>
