<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoShader</key>
	<string>canSubscribeTextField</string>
	<key>lastTernary</key>
	<string>rectifyStorage</string>
	<key>loadisolate</key>
	<string>movementLeft</string>
	<key>modulusstate</key>
	<string>unmountGram</string>
	<key>primarypresenter</key>
	<string>boxshadowflyweightshape</string>
	<key>shouldEncodeInkWell</key>
	<string>disconnectconstraint</string>
	<key>shouldRenderMember</key>
	<string>startProjection</string>
</dict>
</plist>
