<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCaption</key>
	<string>geometricWorkflow</string>
	<key>currentOverlay</key>
	<string>formatIndicator</string>
	<key>directInterpolation</key>
	<string>dependencyStructure</string>
	<key>draggablematerialvelocity</key>
	<string>respondTransition</string>
	<key>prismaticService</key>
	<string>canFinishTextField</string>
	<key>rebuildrole</key>
	<string>effectTension</string>
	<key>shouldpreparesegue</key>
	<string>kernelquaternion</string>
</dict>
</plist>
