<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleformethod</key>
	<string>streamAperture</string>
	<key>disparatevector</key>
	<string>pivotalsemanticsdensity</string>
	<key>expandedMode</key>
	<string>canInflateGradient</string>
	<key>newestGrid</key>
	<string>shouldStartBoxShadow</string>
	<key>otherPlate</key>
	<string>disabledTolerance</string>
	<key>shouldStopAspect</key>
	<string>methodDistance</string>
	<key>shouldStopGridView</key>
	<string>shapeName</string>
	<key>variantOpacity</key>
	<string>specifyInfo</string>
</dict>
</plist>
