<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveSpine</key>
	<string>multiException</string>
	<key>embracefeature</key>
	<string>sizestageshade</string>
	<key>imperativeReceiver</key>
	<string>originalError</string>
	<key>listenerofvisitor</key>
	<string>canStopColumn</string>
	<key>meshStatus</key>
	<string>timelinetail</string>
	<key>pivotalusage</key>
	<string>canUnmountContraction</string>
	<key>priorProvision</key>
	<string>prevHandler</string>
	<key>resilienthandler</key>
	<string>smallTrajectory</string>
	<key>selectedOperation</key>
	<string>parsecontainer</string>
</dict>
</plist>
