<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeScale</key>
	<string>semanticNorm</string>
	<key>cellRotation</key>
	<string>delicateView</string>
	<key>cellresource</key>
	<string>shouldPrepareNotification</string>
	<key>currentNib</key>
	<string>rapidequipment</string>
	<key>ignoredMaterializer</key>
	<string>exponentinteraction</string>
	<key>lazyMember</key>
	<string>baseKind</string>
	<key>lossBottom</key>
	<string>canKeepMaterial</string>
	<key>nextcolumntop</key>
	<string>notationdelay</string>
	<key>robustInstruction</key>
	<string>progressbarAction</string>
	<key>shouldLoadController</key>
	<string>hashshape</string>
</dict>
</plist>
