<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivemodulus</key>
	<string>canMountedChecklist</string>
	<key>connectorShade</key>
	<string>shouldAnimateBase</string>
	<key>delicateStrength</key>
	<string>permissiveDescription</string>
	<key>hierarchicalgift</key>
	<string>unmarshalCurve</string>
	<key>offsetbottom</key>
	<string>smartFrame</string>
	<key>painttween</key>
	<string>adaptiveEmitter</string>
	<key>scrollableBase</key>
	<string>referenceBridge</string>
	<key>starttransformer</key>
	<string>moduleScale</string>
	<key>statefulVariant</key>
	<string>cloneIsolate</string>
	<key>uniformLabel</key>
	<string>associatedQuaternion</string>
</dict>
</plist>
