<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalOccasion</key>
	<string>protectedRectangle</string>
	<key>managerbufferspeed</key>
	<string>memberappearance</string>
	<key>shouldEndLayout</key>
	<string>canConnectSign</string>
	<key>toolversusshape</key>
	<string>fetchNotification</string>
	<key>unactivatedInteger</key>
	<string>basicDistinction</string>
</dict>
</plist>
