<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binderTail</key>
	<string>shouldNotifyModulus</string>
	<key>interactiveBinary</key>
	<string>restartText</string>
	<key>intuitiveDescent</key>
	<string>canRenderOptimizer</string>
	<key>pivotalAxis</key>
	<string>meshLocation</string>
	<key>responsiveHero</key>
	<string>arithmeticMaterial</string>
	<key>shouldListenEquipment</key>
	<string>multiplicationForce</string>
	<key>shouldunbindaxis</key>
	<string>canBuildBoxShadow</string>
</dict>
</plist>
