<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileScope</key>
	<string>standalonePriority</string>
	<key>captureusage</key>
	<string>canUpdateSlider</string>
	<key>commonObserver</key>
	<string>animateNotification</string>
	<key>commonUseCase</key>
	<string>explicitNotation</string>
	<key>missedcursortail</key>
	<string>meshSaturation</string>
	<key>reducerDirection</key>
	<string>canSaveClipper</string>
	<key>shouldDecodeCapacities</key>
	<string>pendingButton</string>
	<key>shouldListenSpecifier</key>
	<string>deserializeSlider</string>
	<key>shouldStartSubpixel</key>
	<string>disabledAudio</string>
	<key>sizeorkind</key>
	<string>stackFacade</string>
</dict>
</plist>
