<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianScroll</key>
	<string>updateCurve</string>
	<key>dedicatedBitrate</key>
	<string>onarithmeticchanged</string>
	<key>geometricSymbol</key>
	<string>associatedScroll</string>
	<key>intuitiveTweak</key>
	<string>ignoredSwift</string>
	<key>multiDocument</key>
	<string>activatedVertex</string>
	<key>musicmomentum</key>
	<string>graphIndex</string>
	<key>progressbarShape</key>
	<string>delegatethroughmediator</string>
</dict>
</plist>
