<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleContraction</key>
	<string>lastDocument</string>
	<key>fixedBinary</key>
	<string>cupertinoStream</string>
	<key>painterscale</key>
	<string>diversifiedPet</string>
	<key>shouldupdatemission</key>
	<string>disparateCallback</string>
</dict>
</plist>
