<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardDecoration</key>
	<string>consumerFlags</string>
	<key>capacitiesTail</key>
	<string>specifyShader</string>
	<key>cupertinoCapacities</key>
	<string>lossForm</string>
	<key>easyMethod</key>
	<string>taxonomyPadding</string>
	<key>liteMaster</key>
	<string>hardmissionleft</string>
	<key>shouldConnectLayout</key>
	<string>loaderfeedback</string>
	<key>skirtresponse</key>
	<string>renderEquipment</string>
	<key>taskscopedirection</key>
	<string>processZone</string>
</dict>
</plist>
