<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hasSwift</key>
	<string>graphDepth</string>
	<key>mainsinkcontrast</key>
	<string>bundleObserver</string>
	<key>permutationScale</key>
	<string>normMemento</string>
	<key>primaryInterpolation</key>
	<string>geometricDistinction</string>
	<key>reactiveexceptionstatus</key>
	<string>reductionFramework</string>
	<key>richtextoutsideactivity</key>
	<string>canFetchBrush</string>
	<key>scenetheme</key>
	<string>reconcileEvent</string>
	<key>tabbarpager</key>
	<string>arithmeticCaption</string>
	<key>threadSkewX</key>
	<string>scaffoldBorder</string>
</dict>
</plist>
