<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteParticle</key>
	<string>synchronousfuture</string>
	<key>easySkirt</key>
	<string>canCreateHero</string>
	<key>granularGridView</key>
	<string>controllerdistinction</string>
	<key>reactiveVariant</key>
	<string>shouldTransformStep</string>
	<key>requesttimeline</key>
	<string>canDismissAxis</string>
	<key>scrollMomentum</key>
	<string>boxshadowPrototype</string>
	<key>secondtrigger</key>
	<string>nativePosition</string>
</dict>
</plist>
