<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analogyFormat</key>
	<string>canPaintComposition</string>
	<key>baseanimation</key>
	<string>contractionMediator</string>
	<key>concretePermutation</key>
	<string>mediocreBuilder</string>
	<key>crudeSignature</key>
	<string>viewSpeed</string>
	<key>kernelTop</key>
	<string>providervelocity</string>
	<key>semanticnotifierfrequency</key>
	<string>tickertag</string>
	<key>shouldFormatStack</key>
	<string>globalMobile</string>
	<key>shouldLayoutCheckbox</key>
	<string>constantEdge</string>
	<key>symmetricInkWell</key>
	<string>renderCharacter</string>
	<key>tensorChecklist</key>
	<string>moduleValidation</string>
</dict>
</plist>
