<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleBuffer</key>
	<string>shouldhandlemaster</string>
	<key>anchorinsidelayer</key>
	<string>expandedCenter</string>
	<key>characterAlignment</key>
	<string>shouldRebuildSession</string>
	<key>toolmetrics</key>
	<string>interpolateTween</string>
</dict>
</plist>
