<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mechanismIndex</key>
	<string>shouldEncodeScale</string>
	<key>shouldAnimateReference</key>
	<string>remainderLayer</string>
	<key>subtleMaster</key>
	<string>canYieldShader</string>
	<key>visibleDescent</key>
	<string>cubePadding</string>
</dict>
</plist>
